<aside id="sidebar">
    <h3>Más información</h3>
    <ul>
        <li><a href="http://madrid.cnt.es/pedagogia_libertaria/indice.php">Pedagogía Libertaria</a></li>
        <li><a href="http://madrid.cnt.es/cultura.php#emblema">El emblema de la CNT</a></li>
        <li><a href="http://madrid.cnt.es/cultura.php#a_circulada">La A circulada</a></li>
        <li><a href="http://madrid.cnt.es/cultura.php#bandera_negra">La bandera negra</a></li>
        <li><a href="http://madrid.cnt.es/cultura.php#himnos_libertarios">Himnos libertarios</a></li>
    </ul>
    <h3>Centros de Estudios Libertarios</h3>
    <ul>
        <li><a href="http://fal.cnt.es/">Fundación Anselmo lorenzo</a></li>
        <li><a href="http://www.centrefedericamontseny.org/">Centro Federica Montseny</a></li>
        <li><a href="http://www.grupoheliogabalo.org/">Grupo Heliogábalo</a></li>
        <li><a href="http://www.cedall.org/">Centro de Documentación Cedall</a></li>
    </ul>
    <h3>Prensa Libertaria</h3>
    <ul>
        <li><a href="http://cnt.es/periodico">Periódico CNT</a></li>
        <li><a href="http://soliobrera.cnt.es/">Solidaridad Obrera</a></li>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/index.php?option=com_content&amp;view=section&amp;layout=blog&amp;id=8&amp;Itemid=58">El Fuelle</a></li>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/index.php?option=com_content&amp;view=category&amp;id=39:tierra-quemada&amp;Itemid=61&amp;layout=default">Tierra Quemada</a></li>
        <li><a href="http://germinallibertario.blogspot.com">Germinal Libertario</a></li>
        <li><a href="http://ateneosierraylibertad.wordpress.com/boletin/">Sierra y Libertad</a></li>
        <li><a href="http://www.nodo50.org/tierraylibertad/">Tierra y Libertad</a></li>
    </ul>
    <h3>Radios</h3>
    <ul>
        <li><a href="http://madrid.cnt.es/erre_ke_erre/">Erre ke Erre</a></li>
    </ul>
    <h3>Bibliotecas</h3>
    <ul>
        <li><a href="http://metalmadrid.cnt.es/cultura/libros/">Sindicato del Metal</a></li>
    </ul>
    <h3>Videotecas</h3>
    <ul>
        <li><a href="http://metalmadrid.cnt.es/noticia.php?id=13">"CNT un año de lucha"</a></li>
        <li><a href="http://metalmadrid.cnt.es/cultura/videos/">Videoteca ácrata (Metal Madrid)</a></li>
        <li><a href="http://archivo.cnt.es/Documentos/cineyanarquismo/home.htm">Cine y anarquismo (Artes Gráficas)</a></li>
        <li><a href="http://madrid.cnt.es/otono-libertario-2010/videos">Videos Otoño Libertario 2010</a></li>
        <li><a href="http://madrid.cnt.es/otonolibertario09_articulo.php?id=56">Videos Otoño Libertario 2009</a></li>
        <li><a href="http://www.cnt-ait.tv/v/actos/otono2008/">Videos Otoño Libertario 2008</a></li>
        <li><a href="http://graficas.cnt.es/documentos/videos.html">Más Videos (Artes Gráficas)</a></li>
    </ul>
    <h3>Cartelería</h3>
    <ul>
        <li><a href="http://ensemad.cnt.es/content/view/227/61/">Históricos de 1936 (S.E.I.S Madrid)</a></li>
        <li><a href="http://sovmadrid.cnt.es/antiguaWeb/archivohistorico3606.htm">La Revolución Social (SOV Madrid)</a></li>
        <li><a href="http://barricadavisual.blogspot.com/">Barricada Visual</a></li>
    </ul>
    <h3>Jornadas culturales</h3>
    <ul>
        <li><a href="http://madrid.cnt.es/otono-libertario-2012/">Otoño Libertario 2012</a></li>
        <li><a href="http://madrid.cnt.es/otono-libertario-2011/">Otoño Libertario 2011</a></li>
        <li><a href="http://madrid.cnt.es/otono-libertario-2010/">Otoño Libertario 2010</a></li>
        <li><a href="http://madrid.cnt.es/otonolibertario09.php">Otoño Libertario 2009</a></li>
        <li><a href="http://otonnolibertario08.blogspot.com/">Otoño Libertario 2008</a></li>
        <li><a href="http://otonnolibertario.blogspot.com/">Otoño Libertario 2007</a></li>
    </ul>
</aside>