{% extends 'ECLDefaultBundle::base_front.html.twig' %}
{% block title %}S.T.S.I de Madrid CNT-AIT | Cultura{% endblock %}
{% block description %}Desde la CNT no entendemos la transformación de la
sociedad sin una transformación en las mentes de quienes la componemos. Por la
revolución social. CNT-AIT. Cultura libertaria.{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/eclculture/css/culture.css') }}" rel="stylesheet">
{% endblock %}
{% block body_front %}    
<article class="main">
    <h1>La libertad: un hecho de reflexión mutua.</h1>
    <p>"Ser libre para el hombre significa ser reconocido y considerado y tratado
    como tal por otro hombre, por todos los hombres que lo rodean. La libertad no
    es, pues, un hecho de aislamiento, sino de reflexión mutua; no de exclusión,
    sino, al contrario, de alianza, pues la libertad de todo individuo no es otra
    cosa que el reflejo de su humanidad o de su derecho humano en la conciencia de
    todos los hombres libres, sus hermanos, sus iguales.</p>
    <p>No soy verdaderamente libre más que cuando todos los seres humanos que me
    rodean, hombres y mujeres, son igualmente libres. La libertad de otro, lejos de
    ser un límite o la negación de mi libertad, es al contrario su condición
    necesaria y su confirmación. No me hago libre verdaderamente más que por la
    libertad de los otros, de suerte que cuanto más numerosos son los hombres libres
    que me rodean y más vasta es su libertad, más extensa, más profunda y más amplia
    se vuelve mi libertad. Es, al contrario, la esclavitud de los hombres la que pone
    una barrera a mi libertad, o lo que es lo mismo, su animalidad es una negación
    de mi humanidad, porque - una vez más - no puedo decirme verdaderamente libre
    más que cuando mi libertad, o, lo que quiere decir lo mismo, cuando mi dignidad
    de hombre, mi derecho humano, que consisten en no obedecer a ningún otro hombre
    y en no determinar mis actos más que conforme a mis convicciones propias,
    reflejados por la conciencia igualmente libre de todos, vuelven a mí confirmados
    por el asentimiento de todo el mundo."</p>
    <p>(Mijail Bakunin)</p>
    <h1>La propiedad es un robo.</h1>
    <p>"Somos ricos en las sociedades civilizadas. ¿Por qué hay, pues, esa miseria
    entorno nuestro? ¿Por qué ese trabajo penoso y embrutecedor de las masas? ¿Por
    qué esa inseguridad del mañana (hasta para el trabajador mejor retribuido) en
    medio de las riquezas heredadas del ayer y a pesar de los poderosos medios de
    producción que darían a todos el bienestar a cambio de algunas horas de trabajo
    cotidiano?</p>
    <p>Los socialistas lo han dicho y repetido hasta la saciedad. Porque todo lo
    necesario para la producción ha sido acaparado por algunos en el transcurso de
    esta larga historia de saqueos, guerras, ignorancia y opresión en que ha vivido
    la humanidad antes de aprender a domar las fuerzas de la naturaleza. Porque,
    amparándose en pretendidos derechos adquiridos en el pasado, hoy se apropian dos
    tercios del producto del trabajo humano, dilapidándolos del modo más insensato y
    escandaloso. Porque reduciendo a las masas al punto de no tener con qué vivir un
    mes o una semana, no permiten al hombre trabajar sino consintiendo en dejarse
    quitar la parte del león. Porque le impiden producir lo que necesita y le fuerzan
    a producir, no lo necesario para los demás, sino lo que más grandes beneficios
    promete al acaparador. Contémplese un país, civilizado.</p>
    <p>Las ciudades; enlazadas entre sí con carriles de hierro y líneas de
    navegación, son organismos que han vivido siglos. Cavad su suelo, y encontraréis
    hiladas superpuestas de calles, casas, teatros, circos y edificios públicos.
    Profundizad en su historia, y veréis cómo la civilización de la ciudad, su
    industria, su genio, han crecido lentamente y madurado por el concurso de todos
    sus habitantes antes de llegar a ser lo que son hoy.</p>
    <p>Y aun ahora, el valor de cada casa, de cada taller, de cada fábrica, de cada
    almacén, sólo es producto de la labor acumulada de millones de trabajadores
    sepultados bajo tierra, y no se mantiene sino por el esfuerzo de legiones de
    hombres que habitan en ese punto del globo. Millones de seres humanos han
    trabajado para crear esta civilización de la que hoy nos gloriamos. Otros
    millones, diseminados por todos los ámbitos del globo, trabajan para sostenerla.
    Sin ellos, no quedarían más que escombros de ella dentro de cincuenta años.</p>
    <p>Hasta el pensamiento, hasta la invención, son hechos colectivos, producto del
    pasado y del presente. Millares de inventores han preparado el invento de cada
    una de esas máquinas, en las cuales admira el hombre su genio. Miles de
    escritores, poetas y sabios han trabajado para elaborar el saber, extinguir el
    error y crear esa atmósfera de pensamiento científico, sin la cual no hubiera
    podido aparecer ninguna de las maravillas de nuestro siglo. Pero esos millares
    de filósofos, poetas, sabios e inventores, ¿no hablan sido también inspirados
    por la labor de los siglos anteriores? ¿No fueron durante su vida alimentados y
    sostenidos, así en lo físico como en lo moral por legiones de trabajadores y
    artesanos de todas clases? ¿No adquirieron su fuerza impulsiva en lo que les
    rodeaba?</p>
    <p>Cada máquina tiene la misma historia: larga historia de noches en blanco y de
    miseria; de desilusiones y de alegrías, de mejoras parciales halladas por varias
    generaciones de obreros desconocidos que venían a añadir al primitivo invento
    esas pequeñas nonadas sin las cuales permanecería estéril la idea más fecunda.
    Aún más: cada nueva invención es una síntesis resultante de mil inventos
    anteriores en el inmenso campo de la mecánica y de la industria. Ciencia e
    industria, saber y aplicación, descubrimiento y realización práctica que conduce
    a nuevas invenciones, trabajo o cerebral y trabajo manual, idea y labor de los
    brazos, todo se enlaza. Cada descubrimiento, cada progreso, cada aumento de la
    riqueza de la humanidad, tiene su origen en el conjunto del trabajo manual y
    cerebral, pasado y presente. Entonces, ¿qué derecho asiste a nadie para
    apropiarse la menor partícula de ese inmenso todo y decir: Esto es mío y no
    vuestro?"</p>
    <p>(Piotr Kropotkin, "La conquista del pan")</p>
</article>
{% render "ECLCultureBundle:Layout:sidebar" %}
{% endblock %}