{% extends 'ECLDefaultBundle::base_front.html.twig' %}
{% block title %}S.T.S.I de Madrid CNT-AIT | Social{% endblock %}
{% block description %}En CNT queremos una sociedad sin Estado, en la que no
quepa el poder, la violencia ni la explotación de unas personas sobre otras.
Frente a la violencia del estado y el capitalismo, desde la CNT proponemos el
comunismo libertario, es decir, la anarquía.{% endblock %}
{% block stylesheets %}
<link href="{{ asset('bundles/eclsocial/css/social.css') }}" rel="stylesheet">
{% endblock %}
{% block body_front %}
<article class="main">
    <ul id="menu">
        <li><strong>Acción Social</strong></li>
        <li><a href="{{url('ECLSocialBundle_softwarelibre')}}">Software Libre</a></li>	
    </ul>
    <header>
        <h1>Nuestra Acción Social</h1>
    </header>
    <p>La CNT no es una organización que se dedique exclusivamente a cuestiones
    sindicales.</p>
    <p>Para nosotros, el sindicalismo es un medio para la transformación de la
    sociedad, al mismo tiempo que sirve para la defensa de los derechos e intereses
    de los trabajadores. Luchamos por una sociedad libre igualitaria, una sociedad
    sin explotados ni explotadores, es decir, aspiramos al Comunismo Libertario, o
    en otras palabras, a la Anarquía.</p>
    <p>Nuestra aspiración es por lo tanto más amplia que la que tienen otros
    sindicatos, convertidos en su mayoría en enormes gestorías cuya labor es, la
    mayoría de las veces, la de legitimar este sistema de desigualdades en el que
    vivimos. No es de extrañar este papel que juegan los sindicatos subvencionados
    puesto que, al fin y al cabo, no aspiran a transformar la sociedad, ni siquiera
    disponen de una propuesta de mínimos.</p>
    <p>Por ello, desde la CNT promovemos campañas, convocatorias y actos cuya
    finalidad sea la denuncia, la difusión de ideas críticas y que en definitiva
    tiendan a propiciar un cambio de mentalidad en la sociedad, aunque no estén
    directamente relacionadas con el sindicalismo.</p>
    <p>Por otro lado participamos en convocatorias conjuntas con otras organizaciones
    cuyo espiritu no sea contrario a nuestros principios y finalidades. Es decir, en
    aquellas cuyas estructuras y forma de funcionamiento sean horizontales, no
    jerárquicos, no subvencionados por las administraciones o que tiendan a
    conseguir el beneficio electoral o social de los partidos políticos.</p>
    <p>Entonces...</p>
    <p><strong>¿Qué reivindicamos?</strong></p>
    <p>Como ya hemos dicho, no sólo actuamos en el ámbito de lo laboral, ya que lo
    social forma parte también de nuestra vida. Por ello incansablemente propugnamos:
    <ul>
        <li>La plena igualdad entre hombres y mujeres.</li>
        <li>Un desarrollo económico que no devaste el planeta ni agote sus recursos,
        potenciando la ecología.</li>
        <li>El antimilitarismo: somos antimilitaristas porque no hay ninguna guerra
        justa, porque todas las guerras causan dolor y muerte al débil en tanto que
        enriquecen al poderoso.</li>
        <li>El rechazo a las discriminaciones basadas en el género, en el aspecto,
        en la raza.</li>
        <li>El internacionalismo: nos oponemos a los grandes y pequeños
        nacionalismos, tantas veces empleados para enfrentar a los trabajadores en
        nombre de abstracciones como la nación y la patria.</li>
        <li>Un país en el que no se hacinen casi sesenta mil presos y presas en las
        cárceles por culpa de un sistema que primero crea el delito y luego hace al
        delincuente.</li>
        <li>Una educación libertaria en la que niños y niñas se eduquen en un sistema
        de valores alejado de la competitividad y el consumismo.</li>
        <li>El anticlericarismo: combatimos las manipulaciones y supersticiones
        religiosas.</li>
    </ul>
    <p>Somos partidarios de todo lo que potencie la libertad de las personas, de todo
    cuanto barra las desigualdades que existen, de todo lo que nos una
    fraternalmente...</p>
    <p><strong>...Pero eso no es suficiente</strong></p>
    <p>Ganar más dinero, tener un contrato estable y que en el barrio haya buenos
    servicios, eso está bien. Pero, si te fijas, podrás ver que este mundo está mal
    repartido.</p>
    <p>Disponemos de unos recursos como nunca los hubo en la historia de la
    Humanidad: conocimientos, energía, medios de comunicación... Y sin embargo
    estamos rodeados de plagas: hambrunas, guerras, racismo, paro, muros, terrorismo,
    abuso de poder. Eso pasa aquí al lado, aquí mismo.</p>
    <p>Y las causas son conocidas: privilegios en manos de unos pocos de individuos,
    que emplean la violencia de la manera más impune, avalados por el aparato del
    Estado y de sus medios de represión.</p>
    <p>El mafioso más encallecido es un angelito comparado con el grupo de
    plutócratas y mandatarios que organizan guerras, viven en el lujo y reciben la
    bendición papal en las audiencias del Vaticano.</p>
    <p>Piensa en los llamados accidentes de trabajo, que dejan mas de un millar de
    muertos al año, ¿quiénes son los responsables, sino los industriales sin
    escrúpulos y los gobernantes interesados más en el dinero que en la vida?</p>
    <p>Por eso la CNT no sólo lucha por ganar cuatro cuartos más que al final se
    come la inflación, sino por otro tipo de mundo.</p> 
    <p><strong>¿Qué tipo de mundo queremos?</strong></p>
    <p>"Todo eso está muy bien" -estarás pensando-, pero ¿qué es lo que queremos en
    realidad?</p>
    <p>Queremos lo que dicen a todas horas: queremos la paz; queremos la libertad;
    queremos el fruto de nuestro trabajo, queremos que quien no trabaje pudiendo
    hacerlo, no coma; queremos que en cualquier parte del mundo cualquier persona
    pueda ser útil trabajando, habitar en una casa, ir a una escuela, tener su
    asiento en el banquete de la vida...</p>
    <p>Pero para que eso llegue, hay que acabar con las causas de la desigualdad. De
    nada vale la caridad. Siglos de limosnas no han servido para traer la Justicia,
    porque la causa de los males del mundo, de la violencia, de que haya riquezas
    enormes en manos de banqueros y empresarios, es el Estado.</p>
    <p>Por esto queremos una sociedad sin Estado, en la que no quepa el poder, la
    violencia ni la explotación de unas personas sobre otras. Frente a la violencia
    del estado y el capitalismo, desde la CNT proponemos el comunismo libertario, es
    decir, la anarquía. Pincha <a
    href="http://madrid.cnt.es/principios_tacticas_y_finalidades/concepto_confederal_del_comunismo_libertario.php">aquí</a>
    sí quieres más información.</p>
</article>
{% render "ECLSocialBundle:Layout:sidebar" %}
{% endblock %}