<aside id="sidebar">
    <h3>Jornadas</h3>
    <ul>
        <li><a href="{{ url('ECLArticlesBundle_homepage', { date: '30-07-2011', uri:  'martes-16-agosto-debian-day-madrid'} ) }}">Debian Day</a></li>
        <li><a href="{{ url('ECLSocialBundle_softwarelibre_jornadasi')}}">I Jornadas Software Libre</a></li>
    </ul>    
    <h3>Campañas Sociales</h3>
    <ul>
        <li><a href="http://www.cnt.es/no_a_bolonia">No al Plan Bolonia</a></li>
        <li><a href="http://madrid.cnt.es/no_a_la_videovigilancia/">Contra los sistemas de videovigilancia</a></li>
        <li><a href="http://www.cnt.es/sgae">La SGAE contra la CNT</a></li>
    </ul>
    <h3>Enlaces de interés</h3>
    <ul>
        <li><a href="http://madrid.cnt.es/noticia/anarquistas">¿Anarquistas?</a></li>
        <li><a href="http://madrid.cnt.es/noticia.php?id=277">Los Ateneos Libertarios (escuelas de la anarquía)</a></li>
        <li><a href="http://madrid.cnt.es/noticia/antimilitarismo-una-vision-anarquista">Antimilitarismo, una visión anarquista</a></li>
        <li><a href="http://madrid.cnt.es/noticia/remedios-para-miedo-odio-los-medios">Remedios para el miedo al odio a los medios</a></li>
        <li><a href="http://madrid.cnt.es/pedagogia_libertaria/articulo.php?id=26">Dossier sobre La Escuela Moderna</a></li>
        <li><a href="http://sovmadrid.cnt.es/?q=node/83">Comunicado ante la masacre en Palestina</a></li>
    </ul>
    <h3>Religión</h3>
    <ul>
        <li><a href="http://madrid.cnt.es/noticia/erre-erre-programa-especial-anticlerical">Erre Ke Erre - Programa especial anticlerical</a></li>
        <li><a href="http://www.cntvalladolid.es/spip.php?article270">La religión: crimen contra la Humanidad</a></li>
    </ul>
    <h3>Medio ambiente</h3>
    <ul>
        <li><a href="http://madrid.cnt.es/noticia/no-central-termica-puente-vallekas">No a la central térmica de Puente de Vallekas</a></li>
        <li><a href="http://madrid.cnt.es/noticia/nefastas-consecuencias-nube-polucion-madrid">Nefastas consecuencias de la nube de polución en Madrid</a></li>
    </ul>
    <h3>Dossiers CNT</h3>
    <ul>
        <li><a href="http://www.cnt.es/sites/default/files/dossier_mujer_cnt_0.pdf">La Mujer en el s.XXI: Reivindicaciones, propuestas y experiencias desde un prisma libertario</a></li>
    </ul>
    <h3>Otros textos libertarios</h3>
    <ul>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/images/pdf/publicaciones-fija/la-anarquia.pdf">La Anarquía - Errico Malatesta</a></li>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/images/pdf/publicaciones-fija/anarquismo-federalismo.pdf">Anarquismo y Federalismo - Juan Gomez Casas</a></li>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/images/pdf/publicaciones-fija/anarquismo-organizacion.pdf">Anarquismo y Organización - Rudolf Rocker</a></li>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/images/pdf/publicaciones-fija/anarquismo-nacionalismo.pdf">Anarquismo y Nacionalismo - JJLL de Bilbao</a></li>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/images/pdf/publicaciones-fija/doctrinas-anarquistas.pdf">Las Doctrinas Anarquistas - Angel J. Capelleti</a></li>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/images/pdf/publicaciones-fija/metodo-moral.pdf">La Anarquía, Método y Moral - Alfredo D. Vallota</a></li>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/images/pdf/publicaciones-fija/nacionalismo-anarquismo.pdf">Nacionalismo y Anarquísmo - CNT Irún</a></li>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/images/pdf/publicaciones-fija/ciencia-filosofia-ciencia-anarquismo.pdf">Ciencia, filosofía de la ciencia y Anarquismo - Iker Dobarro Del Moral</a></li>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/images/pdf/publicaciones-fija/comunismo-autoritario-comunismo-libertario.pdf">Comunismo autoritario y comunismo Libertario - Max Nettlau.</a></li>
    </ul>
</aside>