{% extends 'ECLDefaultBundle::base_front.html.twig' %}
{% block title %}Convenio de Oficinas y Despachos para la Comunidad de Madrid{% endblock %}
{% block description %}Convenio Colectivo 2011 de Oficinas Y Despachos para la
Comunidad de Madrid. Tablas Salariales y legislación laboral.{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/ecllaboral/css/laboral.css') }}" rel="stylesheet">
{% endblock %}
{% block body_front %}
<article class="main">
    <ul id="menu">
        <li><a href="{{ url('ECLLaboralBundle_homepage')}}">Acción Sindical</a></li>
        <li><a href="{{ url('ECLLaboralBundle_convenios')}}">Convenios Colectivos</a></li>
    </ul>    
    <header>
	<hgroup>
            <h1>Convenio de Oficinas y Despachos de la Comunidad de Madrid</h1>
            <h2>1 de enero de 2009 - 31 de diciembre 2012</h2>
	</hgroup>
    </header>
    <ul>
        <li><a href="#pre">Preámbulo.</a></li>
        <li><a href="#art1">Art. 1º Ámbito Territorial.</a></li>
        <li><a href="#art2">Art. 2º Ámbito Funcional.</a></li>
        <li><a href="#art3">Art. 3º Ámbito Personal.</a></li>
        <li><a href="#art4">Art. 4º Vigencia.</a></li>
        <li><a href="#art5">Art. 5º Duración.</a></li>
        <li><a href="#art6">Art. 6º Denuncia.</a></li>
        <li><a href="#art7">Art. 7º Vinculación a la Totalidad.</a></li>
        <li><a href="#art8">Art. 8º Principios Generales.</a></li>
        <li><a href="#art9">Art. 9º Ingresos y Periodos de Prueba.</a></li>
        <li><a href="#art10">Art. 10º Principios Generales en Materia Salarial.</a></li>
        <li><a href="#art11">Art. 11º Fecha de Pago.</a></li>
        <li><a href="#art12">Art. 12º Forma de Pago.</a></li>
        <li><a href="#art13">Art. 13º Salario Base.</a></li>
        <li><a href="#art14">Art. 14º Complemento personal de Antigüedad.</a></li>
        <li><a href="#art15">Art. 15º Complementos de Vencimiento Superior al Mes.</a></li>
        <li><a href="#art16">Art. 16º Plus de Nocturnidad.</a></li>
        <li><a href="#art17">Art. 17º Anticipos y Préstamos.</a></li>
        <li><a href="#art18">Art. 18º Jornada Laboral.</a></li>
        <li><a href="#art19">Art. 19º Horarios y Descansos.</a></li>
        <li><a href="#art20">Art. 20º Formación.</a></li>
        <li><a href="#art21">Art. 21º Licencias sin Sueldo.</a></li>
        <li><a href="#art22">Art. 22º Permisos Retribuidos y Vacaciones.</a></li>
        <li><a href="#art23">Art. 23º Maternidad, Paternidad, Cuidado de
        Familiares y Lactancia.</a></li>
        <li><a href="#art24">Art. 24º Incapacidad Temporal.</a></li>
        <li><a href="#art25">Art. 25º Excedencias.</a></li>
        <li><a href="#art26">Art. 26º Ceses.</a></li>
        <li><a href="#art27">Art. 27º Jubilación Anticipada.</a></li>
        <li><a href="#art28">Art. 28º Dietas y Kilometraje.</a></li>
        <li><a href="#art29">Art. 29º Traslados.</a></li>
        <li><a href="#art30">Art. 30º Clases de Faltas.</a></li>
        <li><a href="#art31">Art. 31º Faltas Leves.</a></li>
        <li><a href="#art32">Art. 32º Faltas Graves.</a></li>
        <li><a href="#art33">Art. 33º Faltas Muy Graves.</a></li>
        <li><a href="#art34">Art. 34º Sanciones.</a></li>
        <li><a href="#art35">Art. 35º Régimen Sancionador.</a></li>
        <li><a href="#art36">Art. 36º Trabajadores Minusválidos.</a></li>
        <li><a href="#art37">Art. 37º Derechos Sindicales.</a></li>
        <li><a href="#art38">Art. 38º Comisión Paritaria.</a></li>
        <li><a href="#art39">Art. 39º Categorías profesionales.</a></li>
        <li><a href="#art40">Art. 40º Solución de Conflictos.</a></li>
        <li><a href="#art41">Art. 41º Política de Igualdad.</a></li>
        <li><a href="#art42">Art. 42º Clausula de Inaplicación.</a></li>
        <li><a href="#art42">Art. 42º Clausula de Inaplicación.</a></li>
        <li><a href="#disp1">Disposición Adicional Primera. - Parejas de Hecho.</a></li>
        <li><a href="#cat1">Categoría Nivel Salarial.</a></li>
        <li><a href="#anex1">Anexo I. Tabla Económica 2010.</a></li>
    </ul>
    <a id="pre"></a>
    <a class="indice" href="">Índice</a>
    <h4>Preámbulo.</h4>
    <p>El presente Convenio Colectivo de Oficinas y Despachos de la Comunidad de Madrid, se otorga por las centrales sindicales Unión General de Trabajadores y Comisiones Obreras, y las asociaciones empresariales. Asociación Empresarial de Oficinas y Despachos, Asociación de Oficinas de Recogida de Datos para su tratamiento en ordenadores y servicios informáticos en general (ASOFREDA), y Asociación de Servicios a las Empresas y Actividades Diversas de Madrid (ADESEMA).</p>
    <a id="art1"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 1º Ámbito Territorial.</h4>
    <p>El presente Convenio Colectivo será de aplicación a todas las empresas de la Comunidad de Madrid encuadradas en el ámbito funcional y personal a que se alude en los dos artículos siguientes, establecidas o que se establezcan durante su vigencia en esta Comunidad.</p>
    <a id="art2"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 2º Ámbito Funcional.</h4>
    <p>Este Convenio Colectivo regula las relaciones de trabajo en las oficinas y despachos, así como en todas las empresas de grabación de datos y centros de procesos de datos en aquellas actividades con regulación laboral específica que no comprenda a los profesionales incluidos en esta normativa.</p>
    <a id="art3"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 3º Ámbito Personal.</h4>
    <ol>
	<li>Los preceptos contenidos en este Convenio afectan a las trabajadores de las empresas mencionadas en el articulo primero y que desarrollen las funciones que se concretan en el articulo anterior.</li>
	<li>Se excluyen formalmente del ámbito personal de este Convenio a los trabajadores comprendidos en los articulas 1.3, apartado c), y 2.1, apartado a), del Real Decreto-Legislativo n' 1/1995 de 24 de marzo, aprobatorio del Estatuto de los Trabajadores, así como a aquellos otros trabajadores en quienes concurran los siguientes requisitos:
            <ol>
                <li>Que ocupen puestos directivos en la empresa sobre un área funcional completa, al menos de la misma.</li>
                <li>Que pertenezcan al nivel uno de cotización de la Seguridad Social. Se respetarán aquellas condiciones más beneficiosas que hasta la fecha de publicación del Convenio Colectivo del año 1992 se vinieran disfrutando.</li>
            </ol>
	</li>
    </ol>
    <a id="art4"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 4º Vigencia.</h4>
    <p>El presente Convenio Colectivo entrará en vigor a partir del dia siguiente de su publicación en el Boletín Oficial de la Comunidad de Madrid, retrotrayéndose sus efectos económicos al día 1 de enero de 2009 para los trabajadores que en la fecha de su publicación esté en vigor su contrato de trabajo. Para aquellos trabajadores que en aquella fecha hubiesen causado baja, se les abonará por la empresa en la que prestaron sus servicios una indemnización alzada. de carácter no salarial, igual a la revisión que les pudiera corresponder por la aplicación de la subida pactada en este Convenio. El trabajador que firme el finiquito debe hacer constar que queda pendiente de pago esta indemnización. En caso de no hacer esta salvedad, el finiquito surtirá efectos liberatorios.</p>
    <a id="art5"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 5º Duración.</h4>
    <p>La duración del presente Convenio Colectivo se establece por cuatro años, es decir, desde el 1 de enero de 2009 hasta el 31 de diciembre de 2012.</p>
    <a id="art6"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 6º Denuncia.</h4>
    <ol>
	<li>Cualquiera de las partes firmantes podrá denunciar el presente Convenio Colectivo con una antelación minima de dos meses antes de la fecha de su vencimiento, por telegrama o por cualquier otro medio fehaciente.</li>
	<li>La denuncia se cursará, simultáneamente, a cada una de las partes firmantes de este Convenio y al Organismo Público competente, estableciéndose un plazo máximo de treinta días,
	a contar desde la techa de notificación de la denuncia, para la constitución de la mesa negociadora.</li>
    </ol>
    <a id="art7"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 7º Vinculación a la Totalidad.</h4>
    <p>En el supuesto de que la jurisdicción social declare la nulidad de alguno de los artículos de este Convenio, quedará sin efecto la totalidad del mismo, debiendo ser negociado Íntegramente.</p>
    <a id="art8"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 8º Principios Generales.</h4>
    <ol>
    <li>La organización práctica del trabajo, con sujeción a este Convenio Colectivo y a la legislación social vigente, es facultad exclusiva de la Dirección de la Empresa.</li>
    <li>Sin merma de la autoridad que corresponde a la Dirección de la Empresa o a sus representantes legales, los órganos de representación legal y sindical de los trabajadores tendrán las funciones que les reconoce el Texto Refundido de la Ley del Estatuto de los Trabajadores, aprobado por Real Decreto Legislativo 111995, de 24 de marzo, y la Ley Orgánica 1111985, de 2 de agosto, de Libertad Sindical, y demás disposiciones legales.</li>
    </ol>
    <a id="art9"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 9º Ingresos y Periodos de Prueba.</h4>
    <ol>
        <li>La admisión de personal se sujetará a lo legalmente dispuesto sobre colocación. En la admisión de personal, las empresas podrán exigir las pruebas de aptitud o titulación para asegurar la capacidad profesional y las condiciones físicas y psicológicas necesarias.</li>
        <li>Se establecen los siguientes periodos de prueba:
            <ol>
                <li>Personal titulado: seis meses.</li>
                <li>Restante personal, excepto el no cualificado: dos meses</li>
                <li>Personal no cualificado: un mes</li>
            </ol>
        </li>
        <li>Los periodos de incapacidad temporal, maternidad y adopción o acogimiento no serán computables en el periodo de prueba, siempre que así se pacte por Escrito en el contrato de trabajo.</li>
        <li>Durante el periodo de prueba, tanto la empresa como el trabajador podrán desistir del contrato, sin ninguna necesidad de preaviso y sin que ninguna de las partes tenga derecho a indemnización.</li>
        <li>En todo caso, el trabajador percibirá durante el periodo de prueba la remuneración correspondiente a la labor realizada.</li>
        <li>Transcurrido el periodo de prueba sin desistimiento, quedará formalizada la admisión con arreglo a la naturaleza de la contratación, siéndole contado al trabajador, a efectos de antigüedad y cuatrienios, el tiempo invertido en el periodo de prueba. 7. Es potestativo para las empresas el renunciar al periodo de prueba, así como también reducir su duración.</li>
    </ol>
    <a id="art10"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 10º Principios Generales en Materia Salarial.</h4>
    <ol>
    <li>Los salarios, dietas y suplidos establecidos en el presente Convenio Colectivo tienen el carácter de mínimos.</li>
    <li>El incremento salarial pactado en este Convenio Colectivo no es compensable ni absorbible con las mejoras que por cualquier concepto vinieran ya concediendo las empresas. En su consecuencia, las cantidades que se incluyen en el Punto 2 de la Tabla económica aneja a este Convenio serán abonadas efectivamente, en todos los casos, sobre tos niveles que realmente se vinieran percibiendo.</li>
    <li>Se exceptuarán de lo dispuesto en el párrafo anterior las posibles cantidades que, a titulo de subida a cuenta de este Convenio, vinieran ya abonando las empresas desde el día de su entrada en vigor.</li>
    <li>La subida salarial para el año 2009, se establece en el uno por ciento (1%), para el año 2010 en el uno con veinticinco por ciento (1,25%) y para el año 2011 en el uno con cincuenta por ciento (1,50%) recogiéndose en el Punto 1 de la Tabla económica aneja a este Convenio las tabla salariales provisionales correspondientes a 2009 y 2010.</li>
    <li>En el caso de que el (índice de Precios al Consumo (IPC) al 31 de diciembre de 2009, 2010 Y 2011 respectivamente, experimente un incremento superior a los fijados para cada uno de estos años, se revisarán los salarios en el exceso de la indicada cifra con carácter retroactivo desde 1 de septiembre de cada uno de los años de vigencia del presente Convenio, actualizándose salarios y tablas para posteriores subidas salariales. Dicha revisión no afectará a la paga extra de junio y sí a la de Navidad.</li>
    <li>La subida salarial para el año 2012, se establece en el uno con setenta y cinco por ciento (1'75%). En el caso de que el (Índice de Precios al Consumo (IPC) al 31 de diciembre de 2012 experimente un incremento superior al fijado para este año, se revisarán los salarios en el exceso de la indicada cifra con carácter retroactivo desde 1 de junio de 2012, actualizándose salarios y tablas para posteriores subidas salariales. Dicha revisión no afectará a la paga extra de junio y sí a la de Navidad.</li>
    <li>La Comisión Paritaria regulada en el articulo 38.B, procederá cada año a la elaboración y publicación de las correspondientes Tablas resultantes de la aplicación de lo establecido en el presente artículo, tanto las iniciales de cada año como las resultantes, en su caso, en función del IPC real que se constate.</li>
    <li>Dicha revisión se abonará en una sola paga durante el primer trimestre de cada año.</li>
    <li>Si el trabajador recibiera remuneración económica en el cumplimiento del deber o desempeño de cargo público, se descontará el importe de la misma del salario a que tuviera derecho en la empresa.</li>
    </ol>
    <a id="art11"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 11º Fecha de Pago.</h4>
    <ol>
    <li>Como norma general, el pago de los salarios y demás remuneraciones se efectuará mensualmente en el último día hábil de cada mes. No obstante, las empresas podrán optar, previo acuerdo con los trabajadores, sus representantes legales o la Comisión Paritaria del Convenio, por efectuar los pagos por quincenas, decenas o semanas, pero en ningún caso en plazo superior al mes.</li>
    <li>Los atrasos o indemnizaciones, en su caso, correspondientes a la nueva tabla salarial, se tendrán que abonar en un plazo no superior a tres meses desde la fecha de publicación del Convenio en el BOLETIN OFICIAL DE LA COMUNIDAD DE MADRID.</li>
    </ol>
    <a id="art12"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 12º Forma de Pago.</h4>
    <p>El pago del salario y demás remuneraciones, así como el pago delegado de prestaciones de la Seguridad Social, podrá efectuarlo la empresa en metálico o mediante cheque u otra modalidad de pago similar a través de entidades de crédito, previo informe al comité de empresa o delegados de personal.</p>
    <a id="art13"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 13º Salario Base.</h4>
    <ol>
    <li>El salario base retribuye el trabajo de las respectivas categorías profesionales, realizado por la jornada ordinaria de trabajo.</li>
    <li>Los salarios base de las distintas categorfas profesionales son los que se recogen en el Punto 1 de la Tabla económica aneja a este Convenio, salvo que por la empresa y el trabajador se hubiese pactado otro superior.</li>
    </ol>
    <a id="art14"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 14º Complemento personal de Antigüedad.</h4>
    <ol>
    <li>Los trabajadores percibirán un complemento personal de antigüedad por cada cuatro años de servicios, cuya cuantía se calcula aplicando el porcentaje del 4 por 100 del sueldo base por cuatrienio.</li>
    <li>Los cuatrienios se computarán en razón del tiempo servido en la empresa, comenzándose a devengar desde el primero de enero del año en que se cumpla el cuatrienio.</li>
    <li>No obstante lo establecido en los Puntos 1 y 2 de este precepto, se respetará como condición más beneficiosa:
    <ol>
    <li>Los trienios devengados por los trabajadores antes del primero de enero de 1993, los seguirán percibiendo al 5 por 100 del sueldo base.</li>
    <li>Los trienios devengados por los trabajadores durante los años 1993 al 1996, los seguirán percibiendo al 4 por 100 del sueldo base.</li>
    </ol>
    </li>
    <li>La acumulación de los incrementos por antigüedad no podrá, en ningún caso, suponer más del 10 por 100 a los cinco años, del 25 por 100 a los quince años, del 40 por 100 a los veinte años, y del 60 por 100, como máximo, a los veinticinco o más años.</li>
    </ol>
    <a id="art15"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 15º Complementos de Vencimiento Superior al Mes.</h4>
    <ol>
    <li>Los trabajadores tendrán derecho a dos gratificaciones extraordinarias al año que se pagarán en los meses de julio y diciembre. El importe de cada una de ellas será de una mensualidad del salario base más la antigüedad.</li>
    <li>Al personal que hubiere ingresado en el transcurso del año o cesara en el mismo, se le abonarán las gratificaciones extraordinarias, prorrateado su importe en relación con el tiempo trabajado, para lo cual la fracción de mes se computará como unidad completa.</li>
    </ol>
    <a id="art16"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 16º Plus de Nocturnidad.</h4>
    <ol>
    <li>Las horas trabajadas durante el periodo comprendido entre las veintidós horas y las seis de la mañana tendrá una retribución especifica incrementada en un 20 por 100 sobre el sueldo base.</li>
    <li>Este plus no afectará al personal que hubiere sido contratado para un horario nocturno fijo como guardas, vigilantes, serenos, porteros de noche, etcétera y a aquéllos que no les corresponda, con arreglo a lo señalado en el articulo 36 del Estatuto de los Trabajadores.</li>
    </ol>
    <a id="art17"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 17º Anticipos y Préstamos.</h4>
    <p>Todo el personal de la empresa con un año al menos de antigüedad, tendrá derecho a la concesión de un préstamo sin interés hasta el importe de cuatro mensualidades del salario real por las siguientes causas:</p>
    <ol>
    <li>Fallecimiento del cónyuge, hijos o padres.</li>
    <li>Asistencia médica e internamiento hospitalario del trabajador, de su cónyuge o de sus hijos.</li>
    <li>Obras en la vivienda primaria por siniestro o ruina inminente.</li>
    <li>Nacimiento de hijos, si se requiere internamiento hospitalario.</li>
    <li>Para aquellas obras en la vivienda del trabajador necesarias para su normal utilización.</li>
    </ol>
    <p>Dicho préstamo podrá aumentarse a cinco mensualidades. La amortización del préstamo será mensual y no excederá en ningún caso del 10 por 100 del salario real.</p>
    <a id="art18"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 18º Jornada Laboral.</h4>
    <ol>
    <li>Durante la vigencia del presente Convenio Colectivo y de conformidad con lo establecido en el artículo 34.2 de la Ley del Estatuto de los Trabajadores, se acuerda una jornada máxima anual efectiva de 1765 horas.</li>
    <li>Para las empresas afectadas por esta reducción, la misma se aplicará en la semana de las fiestas patronales locales del centro de trabajo o en el 24 o 31 de diciembre, en función de las necesidades de la empresa.</li>
    </ol>
    <a id="art19"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 19º Horarios y Descansos.</h4>
    <ol>
    <li>Salvo en aquellos supuestos en que las exigencias productivas, técnicas u organizativas impongan necesariamente modificaciones, las empresas mantendrán sin variación alguna los horarios y su régimen de distribución vigente el 2 de octubre de 1961. En todo caso, se respetará el cómputo anual de jornada señalado en el artículo anterior.</li>
    <li>Cuando concurran las circunstancias especiales a que se hace referencia en el apartado anterior, las empresas podrán adaptar sus horarios, previo acuerdo con sus trabajadores, sus representantes o, en su defecto, previo arbitraje de la Comisión Paritaria del Convenio y con sujeción, en todo caso, a las siguientes limitaciones en conjunto:
    <ol>
    <li>Ninguna semana tendrá una jornada superior a 42 horas y media de trabajo efectivo.</li>
    <li>Fuera del período de vacaciones cada trabajador disfrutará de trece semanas, en las que la jornada será de treinta y cinco horas de trabajo efectivo, en régimen de jornada intensiva y de lunes a viernes.</li>
    <li>Al menos cuatro de estas semanas de treinta y cinco horas se disfrutarán seguidas y, precisamente, dentro del período comprendido entre el1 de junio y el30 de septiembre.</li>
    <li>No será obligatorio para las empresas conceder estas semanas de treinta y cinco horas simultáneamente a toda la plantilla.</li>
    <li>Durante las semanas de cuarenta y dos horas y media, cada trabajador tendrá derecho a descansar un d(a laborable cada dos semanas, que preferentemente se hará coincidir con puentes o sábados.</li>
    <li>En todo caso, la jornada anual no podrá ser superior a la que está vigente con anterioridad al establecimiento de las presentes modificaciones. En cualquier posible incumplimiento de lo previsto en los párrafos anteriores, se faculta a la representación de los trabajadores en el seno de la Comisión Paritaria, para ejercitar las acciones legales que procedan. A los solos efectos de arbitrar en esta materia, la Comisión Paritaria podrá elegir, de común acuerdo, a una o tres personas que, junto a los miembros de la propia Comisión y formando número impar, adopten las decisiones arbitrales que correspondan.</li>
    </ol>
    </li>
    <li>De conformidad con lo señalado en el artículo 34.2 de la Ley del Estatuto de los Trabajadores, por acuerdo entre la empresa y los representantes de los trabajadores, se podrá establecer la distribución irregular de la jornada a lo largo del año, sin que rija lo establecido en los puntos anteriores. Dicha distribución deberá respetar en tod
    o caso los períodos mínimos de descanso diario y semanal previstos en dicho Estatuto.</li>
    </ol>
    <a id="art20"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 20º Formación.</h4>
    <ol>
    <li>El trabajador tendrá derecho:
    <ol>
    <li>Al disfrute de los permisos retribuidos necesarios para concurrir a exámenes, así como a una preferencia a elegir turno de trabajo, si tal es el régimen instaurado en la empresa, cuando curse con regularidad estudios para la obtención de un título académico o profesional.</li>
    <li>A la adaptación de la jornada ordinaria de trabajo para la asistencia a cursos de formación profesional, o a la concesión del permiso oportuno de formación o perfeccionamiento profesional con reserva del puesto de trabajo.</li>
    </ol>
    </li>
    <li>La empresa podrá exigir a todo trabajador que se encuentre disfrutando de los beneficios enumerados en el punto anterior las calificaciones obtenidas en su estudio, así como justificación de su asistencia normal a las clases. Cuando las calificaciones en un 25 por 100 no superen el aprobado o las faltas no justificadas de asistencia a clase superen el 10 por 100 del horario docente, serán causa automática del cese de los citados beneficios.</li>
    </ol>
    <a id="art21"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 21º Licencias sin Sueldo.</h4>
    <p>El trabajador que lleve como mínimo cinco años de servicio podrá pedir, en caso de necesidad justificada, licencias sin sueldo por plazo no inferior a un mes ni superior a seis. Estas licencias no podrán solicitarse más de una vez en el transcurso de tres años. La licencia sin sueldo implica la suspensión de la relación laboral mientras dure la misma.</p>
    <a id="art22"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 22º Permisos Retribuidos y Vacaciones.</h4>
    <ol>
    <li>Los trabajadores, previo aviso y justificación, podrán ausentarse del trabajo, con derecho a retribución, por alguno de los motivos y por el tiempo siguiente:
    <ol>
    <li>Quince días naturales en caso de matrimonio.</li>
    <li>Tres días en caso de nacimiento de un hijo.</li>
    <li>Tres días en caso de enfermedad grave, hospitalización, intervención quirúrgica sin hospitalización que precise reposo domiciliario o fallecimiento de parientes hasta el segundo grado de consanguinidad o afinidad y hermanos políticos.</li>
    <li>Cuatro días en caso de fallecimiento de cónyuge, padres, padres políticos, hijos y hermanos.</li>
    <li>En los supuestos anteriores, cuando se necesite hacer un desplazamiento de 200 kilómetros por cada uno de los viajes de ida y vuelta, los permisos se aumentarán en un día más de lo señalado en cada caso.</li>
    <li>Dos días por traslado del domicilio habitual.</li>
    <li>Por el tiempo indispensable para el cumplimiento de un deber inexcusable de carácter público y personal. Cuando el cumplimiento del deber antes referido suponga la imposibilidad de la prestación del trabaja debido en más del 20 por 100 de las horas laborables en un período de tres meses, podrá la empresa pasar al trabajador afectado a la situación de excedencia forzosa con derecho a recuperación del puesto de trabajo cuando finalice la obligación del cumplimiento del deber de carácter público y personal.Si el trabajador recibiera remuneración económica en el cumplimiento del deber o desempeño del cargo, se descontará el Importe de la misma del salario a que tuviera derecho en la empresa.</li>
    <li>Para realizar funciones sindicales o de representación en los términos establecidos en la Ley y en el presente Convenio.</li>
    <li>Un día natural por matrimonio de padre o madre, hijo, hermano o hermano político, en la fecha de celebración de la ceremonia.</li>
    </ol>
    </li>
    <li>Con independencia de lo anterior, en caso de nacimiento o fallecimiento de un hijo o de fallecimiento dealguno de los padres del trabajador, acaecido en día anterior a dos o más no laborables en la Administración Pública encargada del registro del hecho, el trabajador tendrá derecho a permiso hasta las doce horas en el primer día laborable siguiente, sin que dé lugar a ningún descuento salarial.</li>
    <li>Todo el personal sujeto al presente Convenio disfrutará de unas vacaciones anuales de treinta días naturales. Dentro del mes de enero se confeccionará el calendario de vacaciones del año.Las vacaciones no comenzarán en día no laborable, salvo pacto individual en contrario entre empresario y trabajador.</li>
    </ol>
    <a id="art23"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 23º Maternidad, Paternidad, Cuidado de Familiares y Lactancia.</h4>
    <p>De conformidad con lo establecido en la ley del Estatuto de los Trabajadores;</p>
    <ol>
    <li><strong>EXCEDENCIAS</strong>
    <p>Los trabajadores tendrán derecho a un período de excedencia de duración no superior a tres años para atender al cuidado de cada hijo, tanto cuando lo sea por naturaleza, como por adopción, o en los supuestos de acogimiento, tanto permanente como preadoptivo, aunque estos sean provisionales, a contar desde la fecha de nacimiento o, en su caso, de la resolución judicial o administrativa.</p>
    <p>También tendrán derecho a un periodo de excedencia, de duración no superior a dos años, los trabajadores para atender el cuidado de un familiar, hasta segundo grado de consanguinidad o afinidad, que por razones de edad, accidente, discapacidad o enfermedad no pueda valerse por sí mismo, y no desempeñe actividad retribuida.</p>
    <p>La excedencia contemplada en el presente apartado, cuyo periodo de duración podrá disfrutarse de forma fraccionada, constituye un derecho individual de los trabajadores, hombres o mujeres. No obstante, si dos o más trabajadores de la misma empresa generasen este derecho por el mismo sujeto causante, el empresario podrá limitar su ejercicio simultáneo por razones justificadas de funcionamiento de la empresa.</p>
    <p>Cuando un nuevo sujeto causante diera derecho a un nuevo periodo de excedencia, el inicio de la misma dará fin al que, en su caso, se viniera disfrutando.</p>
    <p>El periodo en que el trabajador permanezca en esta situación de excedencia, para el cuidado de familiares, será computable a efectos de antigüedad y el trabajador tendrá derecho a la asistencia a cursos de formación profesional, a cuya participación deberá ser convocado por el empresario, especialmente con ocasión de su reincorporación. Durante el primer año tendrá derecho a la reserva de su puesto de trabajo. Transcurrido dicho plazo la reserva quedará referida a un puesto de trabajo del mismo grupo profesional o categoría equivalente.</p>
    <p>No obstante, cuando el trabajador forme parte de una familia que tenga reconocida oficialmente la condición de familia numerosa, la reserva de su puesto de trabajo se extenderá hasta un máximo de 15 meses cuando se trate de una familia numerosa de categoría general y hasta un máximo de 18 meses si se trata de categoría especial.</p>
    </li>
    <li><strong>SUSPENSIÓN DEL CONTRATO POR MATERNIDAD.</strong>
    <p>En el supuesto de parto, la suspensión tendrá una duración de dieciséis semanas, que se disfrutarán de forma ininterrumpida, ampliables en el supuesto de parto múltiple en dos semanas más por cada hijo a partir del segundo. El período de suspensión se distribuirá a opción de la interesada, siempre que seis semanas sean inmediatamente posteriores al parto. En caso de fallecimiento de la madre, con independencia de que ésta realizara o no algún trabajo, el otro progenitor podrá hacer uso de la totalidad o, en su caso, de la parte que reste del período de suspensión, computado desde la fecha del parto, y sin que se descuente del mismo la parte que la madre hubiera podido disfrutar con anterioridad al parto. En el supuesto de fallecimiento del hijo, el período de suspensión no se verá reducido, salvo que, una vez finalizadas las seis semanas de descanso obligatorio, la madre solicitara reincorporarse a su puesto de trabajo.</p>
    <p>No obstante lo anterior, y sin perjuicio de las seis semanas inmediatamente posteriores al parto de descanso obligatorio para la madre, en el caso de que ambos progenitores trabajen, la madre, al iniciarse el período de descanso por maternidad, podrá optar por que el otro progenitor disfrute de una parte determinada e ininterrumpida del periodo de descanso posterior al parto bien de forma simultánea o sucesiva con el de la madre. El otro progenitor podrá seguir haciendo uso del período de suspensión por maternidad inicialmente cedido, aunque en el momento previsto para la reincorporación de la madre al trabaja ésta se encuentre en situación de incapacidad temporal.</p>
    <p>En el caso de que la madre no tuviese derecho a suspender su actividad profesional con derecho a prestaciones de acuerdo con las normas que regulen dicha actividad, el otro progenitor tendrá derecho a suspender su contrato de trabajo por el período que hubiera correspondido a la madre, lo que será compatible con la suspensión por paternidad.</p>
    <p>En los casos de parto prematuro y en aquellos en que, por cualquier otra causa, el neonato deba permanecer hospitalizado a continuación del parto, el período de suspensión podrá computarse, a instancia de la madre, o en su defecto, del otro progenitor, a partir de la fecha del alta hospitalaria. Se excluyen de dicho cómputo las seis semanas posteriores al pa
    rto, de suspensión obligatoria del contrato de la madre.</p>
    <p>En los casos de partos prematuros con falta de peso y aquellos otros en que el neonato precise, por alguna condición clínica, hospitalización a continuación del parto, por un período superior a siete días, el período de suspensión se ampliará en tantos días como el nacido se encuentre hospitalizado, con un máximo de trece semanas adicionales, y en los términos en que reglamentariamente se desarrolle.</p>
    <p>En los supuestos de adopción y acogimiento, tanto preadoptivo como permanente, de menores de hasta seis años, la suspensión tendrá una duración de dieciséis semanas ininterrumpidas, ampliable en el supuesto de adopción o acogimiento múltiple en dos semanas más por cada menor a partir del segundo. Dicha suspensión producirá sus efectos, a elección del trabajador, bien a partir de la resolución judicial por la que se constituye la adopción, bien a partir de la decisión administrativa o judicial de acogimiento, provisional o definitivo, sin que en ningún caso un mismo menor pueda dar derecho a varios períodos de suspensión.</p>
    <p>En caso de que ambos progenitores trabajen, el periodo de suspensión se distribuirá a opción de los interesados, que podrán disfrutarlo de forma simultánea o sucesiva, siempre con períodos ininterrumpidos y con los límites señalados.</p>
    <p>En los casos de disfrute simultáneo de períodos de descanso, la suma de los mismos no podrá exceder de las dieciséis semanas previstas en los párrafos anteriores o de las que correspondan en caso de parto, adopción o acogimiento múltiples.</p>
    <p>En el supuesto de discapacidad del hijo o del menor adoptado o acogido, la suspensión del contrato a que se refiere este apartado tendrá una duración adicional de dos semanas. En caso de que ambos progenitores trabajen, este período adicional se distribuirá a opción de los interesados, que podrán disfrutarlo de forma simultánea o sucesiva y siempre de forma ininterrumpida.</p>
    <p>Los períodos a los que se refiere el presente apartado podrán disfrutarse en régimen de jornada completa o a tiempo parcial, previo acuerdo entre los empresarios y los trabajadores afectados, en los términos que reglamentariamente se determinen.</p>
    <p>En los supuestos de adopción internacional, cuando sea necesario el desplazamiento previo de los progenitores al país de origen del adoptado, el periodo de suspensión, previsto para cada caso en el presente artículo, podrá iniciarse hasta cuatro semanas antes de la resolución por la que se constituye la adopción.</p>
    <p>Los trabajadores se beneficiarán de cualquier mejora en las condiciones de trabajo a la que hubieran podido tener derecho durante la suspensión del contrato en los supuestos a que se refiere este apartado y en los de suspensión del contrato de trabajo por paternidad.</p>
    </li>
    <li><strong>SUSPENSIÓN DEL CONTRATO POR PATERNIDAD.</strong>
    <p>En los supuestos de nacimiento de hijo, adopción o acogimiento, el trabajador tendrá derecho a la suspensión del contrato durante trece días ininterrumpidos, ampliables en el supuesto de parto, adopción o acogimiento múltiples en dos días más por cada hijo a partir del segundo. Esta suspensión es independiente del disfrute compartido de los periodos de descanso por maternidad regulados en el apartado 2 de este artículo.</p>
    <p>En el supuesto de parto, la suspensión corresponde en exclusiva al otro progenitor. En los supuestos de adopción o acogimiento, est
    e derecho corresponderá sólo a uno de los progenitores, a elección de los interesados; no obstante, cuando el periodo de descanso regulado en el apartado 2 sea disfrutado en su totalidad por uno de los progenitores, el derecho a la suspensión por paternidad únicamente podrá ser ejercido por el otro.</p>
    <p>El trabajador que ejerza este derecho podrá hacerlo durante el periodo comprendido desde la finalización del permiso por nacimiento de hijo, previsto legal o convencionalmente, o desde la resolución judicial por la que se constituye la adopción o a partir de la decisión administrativa o judicial de acogimiento, hasta que finalice la suspensión del contrato regulada en el apartado 2 de este articulo o inmediatamente después de la finalización de dicha suspensión.</p>
    <p>La suspensión del contrato a que se refiere este apartado podrá disfrutarse en régimen de jornada completa o en régimen de jornada parcial de un mínimo del 50 por 100, previo acuerdo entre el empresario y el trabajador, y conforme se determine reglamentariamente. El trabajador deberá comunicar al empresario, con la debida antelación, el ejercicio de este derecho.</p>
    </li>
    <li><strong>LACTANCIA</strong>
    <p>Las trabajadoras, por lactancia de un hijo menor de nueve meses, tendrán derecho a una hora de ausencia del trabajo, que podrá dividir en dos fracciones. La mujer, por su voluntad, podrá sustituir este derecho por una reducción de su jornada en media hora con la misma finalidad o acumularlo en jornadas completas sustituyéndolo por un permiso retribuido cuya duración será de 15 días laborables o la que se acuerde con el empresario respetando, en su caso, la prevista en este Convento.</p>
    <p>La duración del permiso se incrementará proporcionalmente en los casos de parto múltiple.</p>
    <p>Este permiso podrá ser disfrutado indistintamente por la madre o el padre en caso de que ambos trabajen.</p>
    </li>
    <li><strong>VACACIONES.</strong>
    <p>Cuando el periodo de vacaciones fijado en el calendario de vacaciones de la empresa coincida en el tiempo con una incapacidad temporal derivada del embarazo, el parto O la lactancia natural o con el periodo de suspensión del contrato de trabajo del Art. 46.4 del Estatuto de los Trabajadores, se tendrá derecho a disfrutar de las vacaciones en fecha distinta a la de la incapacidad temporal o a la del disfrute del permiso correspondiente, al finalizar el periodo de suspensión, aunque haya terminado el año natural a que correspondan.</p>
    </li>
    <li><strong>REDUCCIÓN DE JORNADA.</strong>
    <p>Quien por razones de guarda legal tenga a su cuidado directo algún menor de ocho años O una persona con discapacidad física, psíquica o sensorial, que no desempeñe una actividad retribuida, tendrá derecho a una reducción de la jornada de trabajo, con la disminución proporcional del salario entre, al menos, un octavo y un máximo de la mitad de la duración de aquella.</p>
    <p>Tendrá el mismo derecho quien precise encargarse del cuidado directo de un familiar, hasta el segundo grado de consanguinidad o afinidad, que por razones de edad, accidente o enfermedad no pueda valerse por si mismo, y que no desempeñe actividad retribuida.</p>
    <p>La reducción de jornada contemplada en el presente apartado constituye un derecho individual de los trabajadores, hombres o mujeres. No obstante, si dos o más trabajadores de la misma empresa generasen este derecho por el mismo sujeto causante, el empresario podrá ¡imitar su ejercicio simultáneo por razones justificadas de funcionamiento de la empresa.</p>
    <p>La concreción horaria y la determinación del periodo de disfrute del permiso de lactancia y de la reducción de jornada, corresponderá al trabajador, dentro de su jornada ordinaria. El trabajador deberá preavisar al empresario con quince días de antelación la fecha en que se reincorporará a su jornada ordinaria.</p>
    <p>Las discrepancias surgidas entre empresario y trabajador en relación con el ejercicio de los derechos de conciliación de la vida personal, familiar y laboral reconocidos legal o convencionalmente, se resolverán por la jurisdicción competente a través del procedimiento establecido en el articulo 138 bis de la Ley de Procedimiento Laboral.</p>
    </li>
    <li><strong>PROTECCIÓN A LA MATERNIDAD.</strong>
    <p>Con arreglo a lo prevenido en el articulo 26 de la Ley 31/1995 de 8 de noviembre de Prevención de Riesgos Laborales, la evaluación de los riesgos a que se refiere el articulo 16 de dicha Ley, deberá comprender la determinación de la naturaleza, el grado y la duración de la exposición de las trabajadoras en situación de embarazo o parto reciente a agentes, procedimientos o condiciones de trabajo que puedan influir negativamente en la salud de las trabajadoras o del feto, en cualquier actividad susceptible de presentar un riesgo especifico. Si los resultados de la evaluación revelasen un riesgo para la seguridad y la salud o una posible repercusión sobre el embarazo o la lactancia de las citadas trabajadoras, el empresario adoptará las medidas necesarias para evitar la exposición a dicho riesgo, a través de una adaptación de las condiciones o del tiempo de trabajo de la trabajadora afectada. Dichas medidas incluirán, cuando resulte necesario, la no realización de trabajo nocturno o de trabajo a turnos.</p>
    <p>Cuando la adaptación de las condiciones o del tiempo de trabajo no resultase posible o, a pesar de tal adaptación, las condiciones de un puesto de trabajo pudieran influir negativamente en la salud de la trabajadora embarazada o del feto, y así lo certifiquen los Servicios Médicos del Instituto Nacional de la Seguridad Social o de las Mutuas, con el informe del médico del Servicio Nacional de la Seguridad Social que asista facultativamente a la trabajadora, ésta deberá desempeñar un puesto de trabajo o función diferente y compatible con su estado. El empresario deberá determinar, previa consulta con los representantes de los trabajadores, la relación de los puestos de trabajo exentos de riesgos a estos efectos.</p>
    <p>El cambio de puesto o función se llevará a cabo de conformidad con las reglas y criterios que se apliquen en los supuestos de movilidad funcional y tendrá efectos hasta el momento en que el estado de salud de la trabajadora permita su reincorporación al anterior puesto.</p>
    <p>En el supuesto de que, aun aplicando las reglas señaladas en el párrafo anterior, no existiese puesto de trabajo o función compatible, la trabajadora podrá ser destinada, a un puesto no correspondiente a su grupo o categoría equivalente, si bien conservará el derecho al conjunto de retribuciones de su puesto de origen.</p>
    <p>Si dicho cambio de puesto de trabajo no resultara técnica u objetivamente posible, o no pueda razonablemente exigirse por motivos justificados, podrá declararse el paso de la trabajadora afectada a la situación de suspensión del contrato por riesgo durante el embarazo, contemplada en el articulo 45.1.d) del Estatuto de los Trabajadores, durante el periodo necesario para la protección de su seguridad O de su salud y mientras persista la imposibilidad de reincorporarse a su puesto anterior o a otro puesto compatible con su estado.</p>
    <p>Lo dispuesto en los apartados anteriores de este número será también de aplicación durante el periodo de lactancia, si las condiciones de trabajo pudieran influir negativamente en la salud de la mujer o del hijo y así lo certificase el médico que, en el régimen de Seguridad Social aplicable, asista facultativamente a la trabajadora.</p>
    <p>Las trabajadoras embarazadas tendrán derecho a ausentarse del trabajo, con derecho a remuneración, para la realización de exámenes prenatales y técnicas de preparación al parto, previo aviso al empresario y justificación de la necesidad de su realización dentro de la jornada de trabajo.</p>
    </li>
    </ol>
    <a id="art24"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 24º Incapacidad Temporal.</h4>
    <p>Como complemento a las prestaciones establecidas en la Ley de Seguridad Social, se tendrán en cuenta las siguientes mejoras:</p>
    <ol>
        <li>En las enfermedades sin baja con aviso al empresario, el trabajador percibirá el 100 por 100 de su salario, sin que ese beneficio pueda exceder de cuatro días al año. Lo señalado en ese punto será computable a los efectos establecidos en el punto 2 de este precepto para las enfermedades o accidentes a que se refieren los apartados a), b) y c).</li>
        <li>Las empresas complementarán las prestaciones por incapacidad temporal de la Seguridad Social, en los casos y porcentajes que a continuación se expresan:
            <ol>
                <li>Enfermedades o accidentes de duración inferior a cuatro días
                <p>En caso de enfermedad justificada, con aviso al empresario, y sin perjuicio de los derechos que por las disposiciones legales se le reconozcan, el trabajador percibirá el 100 por 100 de su salario, sin que este beneficio pueda exceder de cuatro días por año. A efectos del cómputo del plazo de los cuatro días deberán tenerse en cuenta los que se hubiesen disfrutado con arreglo al punto 1.</p></li>
                <li>Enfermedades o accidentes de duración de hasta treinta días desde la fecha de la baja y por una duración máxima anual de cuarenta y cinco días en cada año natural.
                    <p>Durante los cuatro primeros días;</p>
                    <ol>
                        <li>En el caso de que el trabajador con anterioridad a esta baja hubiese tenido otras bajas en las que hubiera agotado los cuatro dias a que se refiere el punto 1 y el apartado a) de este punto, la empresa no abonará nada.</li>
                        <li>En el caso de que el trabajador con anterioridad a esta baja hubiese tenido otras bajas en las que no hubiese agotado los cuatro días a que se refiere el punto 1 y el apartado a) de este punto 2. En este caso la empresa sólo pagará con el 100 por 100 del salario los días que resten para completar los cuatro.</li>
                        <li>En el caso de que el trabajador con anterioridad a esta baja no hubiese tenido otras bajas, la empresa abonará estos cuatro días con el 100 por 100 del salario.</li>
                    </ol>
                    <p>Durante los días 5 al 30 inclusive. la Empresa abonará al trabajador:</p>
                    <ol>
                        <li>Hasta el día 15 de la baja, el 60 por 100 de su base de cotización a la Seguridad Social en el mes anterior a la baja.</li>
                        <li>Desde el día 16 hasta el 20, el35 por 100 de dicha base.</li>
                        <li>Desde el día 21 hasta el día 30, complementará la prestación de Seguridad Social con el 25 por 100 de dicha base.</li>
                    </ol>
                </li>
                <li>Enfermedades o accidentes no laborales de más de treinta días. Durante los treinta primeros días se aplicará lo dispuesto en el apartado b) de este punto 2.
                <p>Desde el día 31 hasta el 270 la empresa complementará las prestaciones de la Seguridad Social en un 25 por 100. Desde el 271 en adelante sólo se cobrará la prestación de la Seguridad Social.</p></li>
                <li>En caso de varias enfermedades o accidentes no laborales de más de treinta días:
                <p>Sólo abonará los complementos de los puntos 1 y 2 durante un máximo de nueve meses al año.</p></li>
            </ol>
        </li>
    </ol>
    <a id="art25"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 25º Excedencias.</h4>
    <ol>
        <li>La excedencia puede ser voluntaria y forzosa. Los términos y condiciones de dichas excedencias serán los establecidos en la Ley del Estatuto de los Trabajadores.</li>
        <li>El trabajador con al menos una antigüedad en la empresa de un año tiene derecho a que se le reconozca la posibilidad de situarse en excedencia voluntaria por un plazo no menor a cuatro meses y no mayor a cinco años. Este derecho sólo podrá ser ejercitado otra vez por el mismo trabajador si han transcurrido cuatro años desde el final de la anterior excedencia.</li>
    </ol>
    <a id="art26"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 26º Ceses.</h4>
    <p>El trabajador que pretenda cesar en la empresa deberá comunicarlo a la misma con quince días de antelación. Si no lleva a cabo ese preaviso perderá quince días de salario.</p>
    <a id="art27"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 27º Jubilación Anticipada.</h4>
    <p>Los trabajadores que se jubilen antes de los sesenta y cinco años de edad y tengan una antigüedad mínima en la empresa de seis años de servicios, percibirán la gratificación equivalente a cuatro mensualidades de su retribución real.</p>
    <a id="art28"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 28º Dietas y Kilometraje.</h4>
    <ol>
        <li>Cuando el trabajador, como consecuencia del desempeño de su trabajo, se traslade fuera de la plaza habitual en la que se encuentre su centro de trabajo, percibirá una dieta cuyo valor se fija en la cantidad que se concreta en el punto 3 de la Tabla Económica aneja a este Convenio.</li>
        <li>El disfrute de esta dieta se entiende distribuida en los conceptos y porcentajes siguientes: 30 por 100 por comida, 30 por 100 por cena y 40 por 100 por pernoctación.</li>
        <li>En los desplazamientos como consecuencia del desempeño del trabajo, si éstos se realizan con vehículo propio del trabajador, la empresa le abonará la cantidad que se fija en el punto 3 de la Tabla Económica aneja a este Convenio.</li>
    </ol>
    <a id="art29"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 29º Traslados.</h4>
    <ol>
        <li>Los traslados del personal podrán ser voluntarios o forzosos.</li>
        <li>El traslado voluntario se solicitará por escrito, y si fuesen varios los que pidieran la misma vacante se seguirá un turno de antigüedad en la categoría. En caso de empate en la antigüedad en la categoría, regirá el criterio de la mayor edad.</li>
        <li>La forma de llevarse a cabo los traslados voluntarios y los forzosos, será la establecida en el Estatuto de los Trabajadores.</li>
    </ol>
    <a id="art30"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 30º Clases de Faltas.</h4>
    <p>Las faltas cometidas por los trabajadores al servicio de las empresas reguladas por este Convenio Colectivo, se clasificarán atendiendo a su importancia, reincidencia e intención, en leves, graves y muy graves, de conformidad con lo que se dispone en los artículos siguientes.</p>
    <a id="art31"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 31º Faltas Leves.</h4>
    <p>Se considerarán faltas leves:</p>
    <ol>
        <li>Tres faltas de puntualidad durante un mes, sin que exista causa justificada.</li>
        <li>Una falta de asistencia al trabajo sin que exista causa justificada.</li>
        <li>La no comunicación con la antelación debida a faltar al trabaja por causa justificada, a no ser que se pruebe la imposibilidad de hacerla.</li>
        <li>La falta de aseo y de limpieza personal.</li>
        <li>Falta de atención y diligencia con el público o los clientes.</li>
        <li>Discusiones que repercutan en la buena marcha de los servicios.</li>
        <li>La embriaguez ocasional.</li>
    </ol>
    <a id="art32"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 32º Faltas Graves.</h4>
    <p>Se considerarán faltas graves:</p>
    <ol>
        <li>Cuatro faltas de puntualidad al trabajo en un mes sin que exista causa justificada.</li>
        <li>Faltar dos días al trabajo en un mes sin justificación.</li>
        <li>La simulación de enfermedad o accidente.</li>
        <li>Simular la presencia de otro trabajador, valiéndose de su ficha, firma o tarjeta de control.</li>
        <li>Cambiar, mirar o revolver los armarios y ropas de los compañeros sin la debida autorización.</li>
        <li>La reincidencia en las faltas leves, salvo las de puntualidad, aunque sean de distinta naturaleza, dentro del trimestre, cuando hayan mediado sanciones.</li>
        <li>El abandono del trabajo sin causa justificada.</li>
        <li>La negligencia en el trabajo cuando cause perjuicio grave.</li>
    </ol>
    <a id="art33"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 33º Faltas Muy Graves.</h4>
    <p>Se considerarán faltas muy graves:</p>
    <ol>
        <li>Más de cuatro faltas de puntualidad al trabajo en un mes sin que exista causa justificada.</li>
        <li>Faltar al trabajo más de dos días al mes sin causa justificada.</li>
        <li>El fraude, la deslealtad y el abuso de confianza en las gestiones encomendadas.</li>
        <li>El hurto y el robo, tanto a los demás trabajadores como a la empresa o a cualquier persona dentro de los locales de la empresa o fuera de la misma, durante acto de servicio. Quedan incluidos en este apartado, el falsear datos, si tienen como finalidad maliciosa el conseguir algún beneficio.</li>
        <li>La simulación comprobada de enfermedad; inutilizar, destrozar o causar desperfectos en máquinas, aparatos, instalaciones, edificios, enseres y departamentos de la empresa; la continuada y habitual falta de aseo y limpieza personal; la embriaguez reiterada durante el trabajo, dedicarse a trabajos de la misma actividad que impliquen competencia a la empresa, si no media autorización de la misma; los malos tratos de palabra u obra o falta grave de respeto o consideración a los jefes, compañeros o subordinados; abandonar el trabajo en puestos de responsabilidad, la reincidencia en falta grave, aunque sea de disfinta naturaleza, dentro del mismo trimestre, siempre que hayan sido objeto de sanción.</li>
        <li>El acoso sexual, entendiendo como tal toda conducta de naturaleza sexual o cualquier otro comportamiento basado en el sexo que afecte a la dignidad de la mujer y el hombre en el trabajo, incluida la conducta de superiores y compañeros, siempre y cuando esta conducta sea ¡ndeseada, irrazonable y ofensiva para el sujeto pasivo de la misma, o cree un entorno laboral intimidatorio, hostil o humillante para la persona que es objeto de la misma; o la negativa al sometimiento de una persona a esta conducta sea utilizada como base para una decisión que tenga efectos sobre el acceso de esta persona a la formación profesional y al empleo, sobre la continuación del empleo, sobre el salario o cualquier otra decisión relativa al contenido de la relación laboral.</li>
        <li>El abuso de autoridad ejercido por quienes desempeñen funciones de mando.</li>
        <li>En general, las enumeradas en el artículo 54 de la Ley del Estatuto de los Trabajadores, que no hayan sido enumeradas en tos puntos anteriores.</li>
    </ol>
    <a id="art34"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 34º Sanciones.</h4>
    <p>1, Las sanciones que las empresas puedan aplicar, según la gravedad y circunstancias de las faltas cometidas, serán las siguientes:</p>
    <ol>
        <li>Faltas leves:
            <ol>
                <li>Amonestación verbal.</li>
                <li>Amonestación por escrito.</li>
                <li>Suspensión de empleo y sueldo por un d(a.</li>
            </ol>
        </li>
        <li>Faltas graves:
            <ol>
                <li>Suspensión de empleo y sueldo de dos a diez días.</li>
                <li>Inhabilitación por plazo no superior a un año para el ascenso a categoría superior.</li>
                <li>Cambio de centro de trabajo.</li>
                <li>Pérdida temporal de la categoría hasta un máximo de seis meses.</li>
            </ol>
        </li>
        <li>Faltas muy graves:
            <ol>
                <li>Suspensión de empleo y sueldo de once días a dos meses.</li>
                <li>Pérdida temporal de la categoría desde seis meses hasta un máximo de un año.</li>
                <li>Inhabilitación durante dos años o definitivamente para ascender a otra categoría superior.</li>
                <li>Inhabilitación temporal o definitiva para el manejo de la caja u otros medios de pago, cuando haya sido sancionado por motivos pecuniarios.</li>
                <li>Despido.</li>
            </ol>
        </li>
        <li>Para la aplicación de las sanciones que anteceden, se tendrá en cuenta el mayor o menor grado de responsabilidad del que cometa la falta, categoría profesional del mismo y repercusión del hecho en los demás trabajadores y en la empresa.</li>
    </ol>
    <a id="art35"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 35º Régimen Sancionador.</h4>
    <ol>
        <li>La facultad de imponer las sanciones corresponderá a la dirección de la empresa o en las personas en quien delegue.</li>
        <li>Será necesaria la instrucción de expediente disciplinario contradictorio, en el caso de sanciones por faltas graves y muy graves de trabajadores que ostenten en la empresa la condición de; a) miembro del Comité de Empresa o Delegado de Personal; ó b) Delegado Sindical. En estos casos, antes de sancionar t se dará audiencia previa a los restantes integrantes del Comité de Empresa ó Delegados de Personal ó Delegados Sindicales, si los hubiere.</li>
        <li>El expediente disciplinario se iniciará con la orden de incoación adoptada por el jefe correspondiente de la empresa, quien designará al instructor del mismo. Tras la aceptación del instructor, se procederá por éste a tomar declaración al trabajador afectado y, en su caso, a los testigos, y practicará cuantas pruebas estime necesarias para el debido esclarecimiento de los hechos. El instructor podrá proponer a la dirección de la empresa la suspensión de empleo, pero no de sueldo, del trabajador afectado por el tiempo que dure la incoación del expediente, previa audiencia del Comité de Empresa ó Delegados de Personal, de haberlos. la duración de la tramitación del expediente desde que el instructor acepte el nombramiento no podrá tener una duración superior a dos meses. La resolución en que se imponga la sanción deberá comunicarse al interesado por escrito y expresará con claridad y precisión los hechos imputados, la calificación de la conducta infractora como fatta leve, grave y muy grave, la sanción impuesta y desde cuando surte efectos. No obstante lo anterior, en los casos de sanción de amonestación verbal, obviamente, no existirá comunicación escrita.</li>
        <li>En el caso de sanciones por faltas graves y muy graves a trabajadores afiliados a un sindicato, antes de sancionarlos habrá de darse trámite de audiencia a los delegados sindicales, siempre que a la empresa le conste la afiliación y existan en la misma delegados sindicales.</li>
        <li>la empresa anotará en el expediente personal del trabajador las sanciones por faltas graves y muy graves, anotando también las reincidencias de las faltas leves.</li>
    </ol>
    <a id="art36"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 36º Trabajadores Minusválidos.</h4>
    <p>De conformidad con lo dispuesto en el articulo 38.1 de la ley 1311982, de 7 de Abril, las empresas públicas y privadas que ocupen a trabajadores fijos que exceden de 50, vendrán obligadas a emplear un número de trabajadores minusválidos no inferior al 2 por 100 de su plantilla, entre los que se encuentren inscritos como tales en el correspondiente registro de trabajadores minusválidos de la Oficina de Empleo.</p>
    <a id="art37"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 37º Derechos Sindicales.</h4>
    <p>Con relación a los derechos sindicales de los trabajadores, este Convenio se remite al contenido de la ley Orgánica de Libertad Sindical.</p>
    <p>Pese a lo establecido en el párrafo anterior, en aquellos centros de trabajo con plantilla que exceda de 100 trabajadores y cuando los sindicatos o centrales posean en los mismos una afiliación superior al 10 por 100 de aquéllos, la representación del sindicato o central será ostentada por un delegado.</p>
    <p>Asimismo se establece que en las empresas que tengan más de 100 trabajadores, un delegado sindical podrá acumular hasta el 50 por 100 de las horas sindicales asignadas al resto de los delegados, siempre y cuando que el delegado que acumule las horas no sea el único de su categoría profesional en la empresa y los delegados cuyas horas se van a acumular sean de su misma candidatura y colegio electoral; no obstante, permanecerá en su puesto de trabajo al menos el 50 por 100 de su jornada semanal.</p>
    <a id="art38"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 38º Comisión Paritaria.</h4>
    <p>Se crea la Comisión Paritaria con una doble funcionalidad:</p>
    <ol>
        <li>El estudio de las siguientes materias del vigente Convenio; Retribuciones y estructura salarial; jornada y horarios; clasificación profesional y formación; derechos sociales y conciliación; salud laboral, derechos sindicales; ámbito funcional; régimen disciplinario; ciberderechos y planes de igualdad. La composición de esta Comisión estará formada por cuatro miembros por la parte patronal, y cuatro por la parte social (dos por UGT y dos por CCOO). Cada Central dispondrá de un crédito de 90 horas mensuales. La asignación personal de los créditos horarios se determinará por cada Sindicato. Dicho crédito comenzará a utilizarse a partir de la firma del Convenio y se mantendrá durante la vigencia del mismo. La sede de la Comisión Paritaria se establece en la calle Diego de León, 50, de Madrid.</li>
        <li>La de Vigilancia, Interpretación, Mediación y Arbitraje del presente Convenio, formada por tres vocales en representación de las empresas, pudiendo actuar solidariamente uno sólo en representación de la totalidad, y cuatro en representación de los trabajadores. Los vocales integrantes de la Comisión Paritaria son los siguientes:
            <ol>
                <li>En representación de las Centrales Sindicales: cuatro vocales (dos por UGT y dos por Comisiones Obreras).</li>
                <li>En representación de las Asociaciones de Empresarios; cuatro vocales.</li>
                <li>Esta Comisión Paritaria estará presidida, en cada reunión, por uno de sus componentes, siguiendo el orden que, una vez constituida, quede fijado mediante sorteo. Actuará como secretario en todas las reuniones el miembro más joven de los que asistan a las mismas.</li>
                <li>Los acuerdos se adoptarán por unanimidad o, en su detecto, por mayoría simple, y quedarán reflejados en acta sucinta que suscribirán los asistentes a la reunión al final de la misma. Para la validez de los acuerdos se requerirá la presencia de al menos tres miembros de cada representación.</li>
                <li>Las funciones de la Comisión son las siguientes:
                    <ol>
                        <li>Emitir los informes que le sean requeridos por la Autoridad Laboral sobre cuantas cuestiones se susciten en relación con la Interpretación del Convenio.</li>
                        <li>Vigilar el correcto cumplimiento de lo pactado.</li>
                        <li>Ejercer las funciones de arbitraje que específicamente se le sometan por las partes con tal carácter y, en concreto, las que se deducen del contenido del artículo 19 del Convenio.</li>
                    </ol>
                </li>
                <li>Todas las resoluciones que esta Comisión deba emitir sobre las consultas presentadas a la misma, deberán producirse en un plazo máximo de quince días naturales, a partir de la recepción formal de las mismas, acompañadas de la documentación correspondiente.</li>
                <li>A las reuniones de la Comisión podrán asistir los asesores que las partes integrantes consideren necesarios, si bien no tendrán derecho a voto.</li>
                <li>Cuando la consulta se formule por una empresa, deberá abonar, al tiempo de recibir la resolución de la misma, el canon que se fija en el punto 4 de la Tabla Económica aneja a este Convenio, a fin de contribuir a sufragar los gastos de la negociación colectiva y de mantenimiento de la parte patronal de la Comisión Paritaria, salvo que acredite estar afiliado a una de las Asociaciones firmantes del Convenio. Dicho canon se repartirá entre las Asociaciones Empresariales por iguales partes, a fin de compensarles de los gastos de la negociación y del sostenimiento de la parte patronal de la Comisión Paritaria.</li>
                <li>El domicilio de la Comisión Paritaria a estos efectos se fija en la calle Diego de León, número 50, de Madrid</li>
            </ol>
        </li>
    </ol>
    <a id="art39"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 39º Categorías profesionales.</h4>
    <p>Las definiciones de las categorías profesionales son las siguientes. Y a las que corresponden a los niveles salariales que a continuación se indican.</p>
    <p><strong>SECCIÓN 1ª</strong></p>
    <ul>
        <li>Titulados
            <ul>
                <li>a) y b) Personal Titulado.- Es el que se halla en posesión de un titulo o diploma oficial de grado superior O medio, que está unido a la empresa por un vinculo de relación laboral concertado en razón del titulo que posee, para ejercer funciones especificas para las que el mismo le habilita y siempre que preste sus servicios en la empresa con carácter exclusivo o preferente por un sueldo, sin sujeción a la escala habitual de honorarios de su profesión.</li>
            </ul>
        </li>
    </ul>
    <p><strong>SECCIÓN 2ª</strong></p>
    <ul>
        <li>Personal administrativo
            <ul>
                <li>a) Jefes Superiores.- Son aquéllos, provistos O no de poderes, que bajo la dependencia directa de la Dirección o Gerencia, llevan la responsabilidad directa de dos o más departamentos o de una sucursal, delegación o agencia. Se asimilará a esta categoría el profesional con dos o más jefes a sus órdenes.</li>
                <li>b) Jefe de Primera.- Es el empleado capacitado, provisto o no de poderes, que actúa a las órdenes inmediatas del Jefe Superior, si lo hubiere, y lleva la responsabilidad directa de uno o más servicios. Quedan adscritos a esta categoría aquellas personas que organizan y construyen la contabilidad de la empresa.</li>
                <li>c) Jefe de Segunda.- Es el empleado, provisto o no de poderes, que a las órdenes inmediatas del Jefe de Primera, si fa hubiere, está encargado de orientar, dirigir y dar unidad a una sección, distribuyendo los trabajos entre personal que de él dependa. Quedan adscritos a esta categoría los Cajeros con firma, con o sin empleados a sus órdenes.</li>
                <li>d) Oficial de Primera.- Es aquel empleado que actúa a las órdenes de un Jefe, si lo hubiere, y que bajo su propia responsabilidad realiza trabajos que requieren iniciativa. Quedan adscritos a esta categoría los Cajeros sin firma, Secretarios/as de Dirección, así como las Telefonistas-Recepcionistas, capacitadas para expresarse en dos o más idiomas extranjeros.</li>
                <li>e) Oficial Segunda.- Es el empleado que con iniciativa y responsabilidad restringida y subordinado a un Jefe u Oficial de Primera, si los hubiera, realiza trabajos de ca
                rácter secundario que sólo exigen conocimientos generales de la técnica administrativa. Quedan adscritos a esta categoría los Telefonistas-Recepcionistas con un idioma extranjero.</li>
                <li>Auxiliar.- Es el empleado que se dedica a operaciones elementales administrativas y en general a las puramente mecánicas inherentes al trabajo de la oficina y o despacho. Quedan adscritos a esta categoría los Telefonistas-Recepcionistas y Cobradores. Los Auxiliares Administrativos con cinco años de antigüedad en la categoría ascenderán a Oficiales de Segunda. Este ascenso estará condicionado a la existencia de vacante en la categoría de Oficial de Segunda, conforme señala el Laudo, de 17 de noviembre de 1997, del Ilmo. Sr. Director de Trabajo y Empleo de la Comunidad de Madrid.</li>
            </ul>
        </li>
    </ul>
    <p><strong>SECCIÓN 3ª</strong></p>
    <ul>
        <li>Técnicos
            <ul>
                <li>a) Jefe de Informática.- Es el técnico que tiene a su cargo la dirección y planificación de las distintas actividades que coinciden en la instalación y puesta en explotación de un ordenador de tipo grande, medio o pequeño, así como responsabilidad de equipos de análisis de aplicaciones y programación. Asimismo, le compete la resolución de problemas de análisis y programación de las aplicaciones normales de gestión susceptibles de ser desarrolladas por los mismos.</li>
                <li>b) Analista.- Verifica análisis orgánicos de aplicaciones para obtener la solución mecanizada de las mismas en cuanto se refiere a:
                    <ul>
                        <li>Cadena de operaciones a seguir.</li>
                        <li>Documentos a obtener.</li>
                        <li>Diseño de los mismos.</li>
                        <li>Fichero a tratar: su definición.</li>
                        <li>Puesta a punto de las aplicaciones.</li>
                        <li>Creación de juegos de ensayo.</li>
                        <li>Enumeración de las anomalías que pueden producirse y definición de su tratamiento.</li>
                        <li>Colaboración al programa de las pruebas de "lógica" de cada programa.</li>
                        <li>Finalización de los expedientes técnicos de aplicaciones complejas.</li>
                    </ul>
                </li>
                <li>c) Programador.- Le corresponde estudiar los procesos de complejos definidos por los analistas, confeccionando organigramas detallados de tratamiento.
                    <ul>
                        <li>Redactar programas en el lenguaje de programación que le sea indicado.</li>
                        <li>Confeccionar juegos de ensayo, poner a punto los programas y completar los expedientes técnicos de los mismos.</li>
                        <li>Documentar el manual de consola.</li>
                    </ul>
                </li>
                <li>d) Jefe de Delineación. Es la persona que tiene la responsabilidad del grupo o grupos de delineación, ocupándose de la recepción y distribución de los trabajos, asesorando a los delineantes en la perfecta realización de los mismos.</li>
                <li>e) Jefe de Explotación.- Tiene por misión planificar, organizar y controlar la explotación de todo el equipo de tratamiento de la información a su cargo. Realizar las funciones que corresponden a un operador de consola y la dirección de equipos de control.</li>
                <li>f) Delineante Proyectista.- Es el empleado que, dentro de las especialidades propias de la sección en que trabaja, proyecta o detalla los trabajos del técnico superior, a cuyas órdenes actúa, o el que, sin superior inmediato, realiza lo que personalmente concibe según los datos y condiciones técnicas exigidas por tos clientes o por la empresa.</li>
                <li>g) Operador de Primera.- Es el que se ocupa de realizar las operaciones de imputación en máquinas principales de proceso de datos, conociendo perfectamente las posbilidades y recursos del equipo, para lograr su mejor y más idónea utilización, interpretando y desarrollando las instrucciones y órdenes para su explotación.</li>
                <li>h) Delineante.- Es el técnico que está capacitado para el desarrollo de proyectos sencillos, levantamiento e Interpretación de planos y trabajos análogos.</li>
            </ul>
        </li>
    </ul>
    <p><strong>SECCIÓN 4ª</strong></p>
    <ul>
        <li>Especialistas
            <ul>
                <li>a) Operador de Segunda.- Es el que se ocupa de realizar operaciones de máquinas auxiliares de proceso de datos, actuando como auxiliar del Operador de Primera, si lo hubiere.</li>
                <li>b) Dibujante.- Es el empleado que confecciona toda clase de rótulos. carteles y dibujos de carácter sencillo, desarrollando trabajos de esta índole bajo la dirección de un Delineante¬-Proyectista.</li>
                <li>c) Entrevistador-Encuestador.- Es el empleado que realiza entrevistas mediante un cuestionario estandarizado y que consigue en el espacio de una jornada. un mínimo de entrevistas, ajustándose en todo a las normas señaladas por las empresas.</li>
                <li>d) Calcador.- Es el que calca dibujas en papel transparente, realiza y acota croquis sencillos y efectúa otras labores análogas.</li>
                <li>e) Grabador-Recopilador de Datos.- Realiza el perfecto manejo de las máquinas de grabación Yt en su caso, recopila datos para su posterior proceso.</li>
            </ul>
        </li>
    </ul>
    <p><strong>SECCIÓN 5ª</strong></p>
    <ul>
        <li>Subalternos
            <ul>
                <li>a) Conserje.- Tiene como misión especial vigilar las puertas y accesos a los locales de la empresa.</li>
                <li>b) Ordenanza.- Tendrá esta categoría el subalterno cuya misión consiste en hacer recados dentro o fuera de la oficina, recoger y entregar correspondencia, así como otros trabajos secundarios ordenados por sus jefes.</li>
                <li>c) Vigilante diurno o nocturno.- Tiene a su cargo el servicio de vigilancia diurna o nocturna de los locales.</li>
                <li>d) Limpiadores.- Están ocupados en la limpieza de los locales de las empresas.</li>
                <li>e) Botones.- Es el subalterno que realiza recados, repartos y otras funciones de carácter elemental. Los Botones, al cumplir dos años de antigüedad en la empresa, pasarán automáticamente a Ordenanzas.</li>
            </ul>
        </li>
    </ul>
    <p><strong>SECCIÓN 6ª</strong></p>
    <ul>
        <li>Oficios Varios
            <ul>
                <li>a) Encargado.- Es la persona especialista en su cometido, que bajo las órdenes directas de un superior, si lo hubiere, dirige tos trabajos de una sección, con la responsabilidad consiguiente sobre la forma de ordenar la realización de los trabajos a efectuar.</li>
                <li>b) Oficial de Primera y Conductor; c) Oficial de Segunda; d) Mozo y Peón.- Incluye al personal que realiza los trabajos propios de un oficio cualquiera de las categorías señaladas. Los Conductores de automóvil serán considerados Oficiales de Primera, si ejecutan toda clase de reparaciones que no exigen elementos de taller. En los demás casos serán, como mínimo, Oficiales de Segunda.</li>
            </ul>
        </li>
    </ul>
    <a id="art40"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 40º Solución de Conflictos.</h4>
    <p>Las partes firmantes de este Convenio, por parte sindical UGT y CC.OO. y por parte empresarial, Asociación de Empresas de Recogida de Datos y Servicios Informáticos en general -ASOFRE
    DA., Asociación de Servicios a las Empresas y Actividades Diversas de Madrid -ADESEMA. (integradas en CEIM), Asociación Empresarial de Oficinas y Despachos de Madrid (integrada en UNIPYME) , durante la vigencia del mismo, acuerdan someterse al Instituto laboral de la Comunidad de Madrid y a los procedimientos regulados en el Acuerdo Interprofesional sobre la creación del sistema de solución extrajudicial de conflictos y de dicho Instituto laboral y su reglamento a incorporar.</p>
    <ol>
        <li>Las discrepancias producidas en el seno de la Comisión Paritaria se solventarán de acuerdo con los procedimientos regulados en el Acuerdo Interprofesional sobre la creación del sistema de solución extrajudicial de conflictos y del Instituto Laboral de la Comunidad de Madrid y en su reglamento.</li>
        <li>La solución de los conflictos que afecten a los trabajadores y empresarios incluidos en su ámbito de aplicación, se efectuará conforme a los procedimientos regulados en el Acuerdo Interprofesional sobre la creación del sistema de solución extrajudicial de conflictos y del Instituto laboral de la Comunidad de Madrid y en su reglamento.</li>
        <li>La aplicación de lo prevenido en este artículo en lo que se refiere a las empresas pertenecientes a la Asociación Empresarial de Oficinas y Despachos de Madrid, está condicionada a la integración en el citado Instituto Laboral de MADRID.</li>
    </ol>
    <a id="art41"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 41º Política de Igualdad.</h4>
    <p>El principio de igualdad de trato es un objetivo que justifica llevar a cabo acciones y políticas en los siguientes ámbitos:</p>
    <ol>
        <li>Acceso al empleo, incluyendo la formación ocupacional, la definición de las vacantes y los sistemas de selección.</li>
        <li>Contratación, especialmente en lo referente a las modalidades utilizadas.</li>
        <li>Clasificación profesional.</li>
        <li>Condiciones laborales en general, y retributivas en particular.</li>
        <li>Política de formación.</li>
        <li>Promoción profesional y económica.</li>
        <li>Distribución de la jornada y acceso a los permisos en materia de conciliación. h) Suspensión y extinción del contrato.</li>
    </ol>
    <p>En materia de conciliación de la vida laboral, familiar y personal, en el ámbito de cada empresa se negociarán medidas que permitan hacer efectivos los derechos reconocidos en la normativa en materia de igualdad, y en particular, los que persiguen la adaptación de la jornada para atender a necesidades familiares derivadas del cuidado de hijos y de parientes mayores que no pueden valerse por si mismos, de modo que el ejercicio de tales derechos resulte compatible con las actividades y la organización de las empresas.</p>
    <p>Para la consecución de los objetivos descritos, y para erradicar cualesquiera posibles conductas discriminatorias, las empresas afectadas por el presente Convenio deberán negociar y, en su caso, acordar las medidas oportunas con los representantes legales de los trabajadores en la forma que se determina en la legislación laboral. En el caso de empresas de más de doscientos cincuenta trabajadores, las medidas a que se refiere el presente artículo deberán dirigirse a la elaboración y aplicación de un plan de igualdad, que deberá asimismo ser objeto de negociación con los representantes legales de los trabajadores. En cuanto al contenido, forma y proceso de elaboración de dichos planes de igualdad, se observará lo establecido en el Capitulo 11I del Titulo IV de la ley Orgánica 3/2007, para la igualdad efectiva de mujeres y hombres.</p>
    <a id="art42"></a>
    <a class="indice" href="">Índice</a>
    <h4>Art. 42º Clausula de Inaplicación.</h4>
    <ol>
        <li>Los incrementos salariales establecidos en el presente Convenio colectivo no serán de obligada aplicación en cualquiera de los siguientes supuestos;
            <ul>
                <li>Para aquellas empresas que acrediten pérdidas.</li>
                <li>Para aquellas empresas que no acreditando pérdidas, atraviesen una situación de crisis que pueda afectar a su nivel de empleo o a su viabilidad, previa aportación de la siguiente documentación:
                    <ul>
                        <li>Balances y cuentas de resultados.</li>
                        <li>Proyección anual del negocio.</li>
                        <li>Memoria justificativa y explicativa de las medidas a adoptar.</li>
                        <li>Toda la documentación que puede solicitar la Administración a las empresas cuando presenta un Expediente de Regulación de Empleo.</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>El procedimiento para no aplicar los incrementos salariales establecidos en este Convenio colectivo será el siguiente: las empresas que quieran acogerse a la presente cláusula de desvinculación salarial deberán comunicarlo a la Comisión Paritaria en el plazo de 1 mes a contar desde la publicación del presente Convenio colectivo en el Boletín Oficial de la Comunidad de Madrid. Para proceder a la desvinculación en los años siguientes, cuando no se haya hecho uso de dicha cláusula anteriormente, las empresas deberán comunicarlo a la Comisión Paritaria en el plazo de 1 mes a contar desde la publicación de la tabla salarial en el BOCM. La empresa, asimismo, deberá remitir comunicación escrita al Comité de empresa o delegados de personal, acompañando toda aquella documentación acreditativa de la situación económica motivadora de la no aplicación. A partir de la fecha de tal comunicación, la empresa abrirá un periodo de consultas con la correspondiente representación de los trabajadores, cuya duración no excederá de 15 días salvo que se prorrogue por acuerdo de ambas partes. Una vez finalizado dicho periodo de consultas, deberá comunicarse a la Comisión paritaria de este Convenio el acuerdo alcanzado.
        <p>En el caso de no llegar a acuerdo en el seno de la empresa, la Comisión Paritaria resolverá según el articulo 38.B de este Convenio, por unanimidad o, en su defecto, por mayoría simple, en el término de un mes a contar desde que se solicita su intervención sobre la idoneidad de la no aplicación salarial del Convenio, y en su caso, del nuevo régimen aplicable y de su duración. Para la validez del acuerdo se requerirá la presencia de al menos tres miembros de cada representación.</p>
        <p>En los casos de desacuerdo en la Comisión Paritaria, las partes se someterán a los trámites de conciliación y/o arbitraje del Tribunal laboral de Madrid.</p></li>
        <li>La empresa que, cumplidos todos los presupuestos y trámites del presente precepto, se hubiera acogido al sistema de inaplicación previsto y una vez trascurrido el ejercicio correspondiente al mismo, continuara en situación de déficit o pérdidas, deberá cumplir los referidos trámites y procedimientos para poder aplicar en el nuevo ejercicio la posibilidad de inaplicación que se regula, debiendo, en caso distinto, proceder a la aplicación de las condiciones económicas fijadas en el presente Convenio.</li>
    </ol>
    <a id="disp1"></a>
    <a class="indice" href="">Índice</a>
    <h4>Disposición Adicional Primera. - Parejas de Hecho.</h4>
    <p>Se reconocen los mismos derechos que el Convenio contempla para los cónyuges en matrimonio, a las personas que no habiéndose casado entre ellos, conviven en unión afectiva, estable y duradera, previa justificación de estos extremos mediante la certificación de inscripción en el correspondiente registro oficial de parejas de hecho.</p>
    <p>Dicha certificación podrá sustituirse, en aquellas poblaciones donde no exista registro oficial, mediante acta notarial. En el supuesto de conflictos de intereses con terceros, el reconocimiento del derecho que corresponda se realizará de conformidad con la resolución que, de manera firme, se dicte por la autoridad administrativa o judicial competente, conforme al ordenamiento positivo vigente.</p>
    <a id="cat1"></a>
    <a class="indice" href="">Índice</a>
    <h4>Categoría Nivel Salarial</h4>
    <table border="1" cellpadding="2">
        <tr>
            <th>CATEGORIA</th>
            <th>NIVEL SALARIAL</th>
        </tr>
        <tr>
            <td colspan="2"><strong>Titulados</strong></td>
        </tr>
        <tr>
            <td>Personal titulado de grado superior</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Personal titulado de grado medio</td>
            <td>2</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Personal administrativo</strong></td>
        </tr>
        <tr>
            <td>Jefe superior</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Jefe de primera</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Jefe de segunda</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Oficial de primera</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Oficinal de segunda</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Auxiliar</td>
            <td>9</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Técnicos</strong></td>
        </tr>
        <tr>
            <td>Jefe de informática</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Analista</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Programador</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Jefe de delineación</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Jefe de explotación</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Delineante proyectista</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Operador de primera</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Delineante</td>
            <td>6</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Especialistas</strong></td>
        </tr>
        <tr>
            <td>Operador de segunda</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Dibujante</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Entrevistador-encuestador</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Calcador</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Grabador-recuperador de datos</td>
            <td>8</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Subalternos</strong></td>
        </tr>
        <tr>
            <td>Conserje</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Ordenanza</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Vigilante diurno y nocturno</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Limpiadores</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Botones</td>
            <td>10</td>
        </tr>
        <tr>
            <td colspan="2"><strong>Oficios varios</strong></td>
        </tr>
        <tr>
            <td>Encargado</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Oficial de primera y conductor</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Oficinal de segunda</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Mozo y peón</td>
            <td>9</td>
        </tr>
    </table>
    <a id="anex1"></a>
    <a class="indice" href="">Índice</a>
    <h4>Anexo I. Tabla Económica 2010.</h4>
    <table border="1" cellpadding="2">
        <caption>Punto 1</caption>
        <tr>
            <th>NIVELES</th>
            <th>EUROS/MES</th>
            <th>SALARIO ANUAL<br>(14 PAGAS)</th>
        </tr>
        <tr>
            <td>1</td>
            <td>1.103,89</td>
            <td>15.454,46</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1.067,44</td>
            <td>14.944,11</td>
        </tr>
        <tr>
            <td>3</td>
            <td>1.027,95</td>
            <td>14.387,05</td>
        </tr>
        <tr>
            <td>4</td>
            <td>987,83</td>
            <td>13.829,55</td>
        </tr>
        <tr>
            <td>5</td>
            <td>914,92</td>
            <td>12.808,91</td>
        </tr>
        <tr>
            <td>6</td>
            <td>878,48</td>
            <td>12.298,68</td>
        </tr>
        <tr>
            <td>7</td>
            <td>835,41</td>
            <td>11.695,78</td>
        </tr>
        <tr>
            <td>8</td>
            <td>798,94</td>
            <td>11.185,10</td>
        </tr>
        <tr>
            <td>9</td>
            <td>749,15</td>
            <td>10.488,16</td>
        </tr>
        <tr>
            <td>10</td>
            <td>633,3</td>
            <td>8.866,20</td>
        </tr>
    </table>
    <table border="1" cellpadding="2">
        <caption>Punto 2</caption>
        <tr>
            <th>NIVELES</th>
            <th>EUROS/MES</th>
        </tr>
        <tr>
            <td>1</td>
            <td>13,63</td>
        </tr>
        <tr>
            <td>2</td>
            <td>13,18</td>
        </tr>
        <tr>
            <td>3</td>
            <td>12,69</td>
        </tr>
        <tr>
            <td>4</td>
            <td>12,2</td>
        </tr>
        <tr>
            <td>5</td>
            <td>11,3</td>
        </tr>
        <tr>
            <td>6</td>
            <td>10,85</td>
        </tr>
        <tr>
            <td>7</td>
            <td>10,31</td>
        </tr>
        <tr>
            <td>8</td>
            <td>9,66</td>
        </tr>
        <tr>
            <td>9</td>
            <td>9,25</td>
        </tr>
        <tr>
            <td>10</td>
            <td>9,3</td>
        </tr>
    </table>
    <table border="1" cellpadding="2">
        <caption>Punto 3</caption>
        <tr>
            <td>Dieta Íntegra</td>
            <td>62,22 €</td>
        </tr>
        <tr>
            <td>Cada Kilómetro</td>
            <td>0,28 €</td>
        </tr>
    </table>
    <p><strong>Punto 4</strong></p>
    <p>Canon de la parte patronal de la Comisión Paritaria. El canon se fija en
    la cantidad de 150,25 euros por consulta. Se entiende por consulta todas
    aquellas preguntas que se planteen a la Comisión en cada escrito.</p>
    <a href="">Volver al índice</a>
</article>
{% render "ECLLaboralBundle:Layout:sidebar" %}
{% endblock %}