{% extends 'ECLDefaultBundle::base_front.html.twig' %}
{% block title %}S.T.S.I de Madrid CNT-AIT | Conócenos{% endblock %}
{% block description %}El sindicato de les trabajadores y trabajadoras del
sector de las telecomunicaciones y la informática de Madrid. Sector de las TIC
(Tecnologías de Información y la Comunicación). Confederación Nacional del
Trabajo. CNT Madrid.{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/eclabout/css/about.css') }}" rel="stylesheet">
{% endblock %}
{% block body_front %}
<article class="main">
    <header>
        <h1>¿Quienes somos?</h1>
    </header>  
    <p>Los trabajadores del sector de la informática afiliados a los sindicatos de
    la Federación Local de la CNT madrileña hemos decidido organizarnos para dar una
    respuesta a los constantes abusos que sufrimos por parte de la clase empresarial.</p>
    <p>Dada la singularidad de este sector, creemos que lo primero que debemos hacer
    es definir que entendemos por trabajadores de empresas de servicios informáticos
    y telecomunicaciones, cual es nuestro sector y que problemática tiene.</p>
    <p>Entendemos por trabajadores de estas empresas a aquellos que
    -independientemente de su profesión-  desarrollan su actividad principal y
    diaria en una empresa que produce:</p>
    <ul>
        <li>Hardware o software
        <li>Servicios informáticos de mantenimiento, reparación y equipamiento
        <li>Gestión y administración de redes
        <li>Programación y diseño web
        <li>Empresas TIC (Tecnologías de la Información y la Comunicación)
        <li>Telefonía, equipos de comunicación de voz y datos, radio, video
        conferencia, etc.
    </ul>
    <p>Veréis que hacemos énfasis en la producción de la empresa y no en el oficio
    del trabajador. Esto es así porque en CNT nos organizamos por ramos de producción
    y no de oficio. Lo que quiere decir que, por ejemplo, los trabajadores
    contratados por una empresa informática (pongamos una consultora) y cedidos a un
    banco, deberán organizarse junto a los compañeros de banca. Asimismo, un
    trabajador que realice labores de contabilidad en una empresa cuya función sea el
    desarrollo de software, se organizará en el ramo de la informática. Creemos de
    especial importancia aclarar este punto dado que no disponemos de un convenio
    propio y que además muchas de las empresas de este sector son en realidad ETTs
    encubiertas.</p>
    <h2>¿Qué es la CNT?</h2>
    <p>La Confederación Nacional del Trabajo (CNT) es una confederación de sindicatos
    anarquistas y de clase, que agrupan a trabajadores de todos los oficios sin
    distinción en sus sindicatos de ramo. La CNT es una herramienta de lucha para
    toda la clase trabajadora.</p>
    <p>Decimos que es un sindicato de clase porque a él solo puede pertenecer la
    clase trabajadora (en activo, parado, jubilado, estudiante, etc.) sin importar
    sus ideas políticas o creencias religiosas. Basta con que se comprometa a
    aceptar nuestro pacto asociativo y a respetar las decisiones que se tomen en
    asamblea. Como sindicato de clase, no pueden pertenecer a la CNT aquellas personas
    que no pueden considerarse trabajadores, como son los empresarios, rentistas,
    grandes propietarios, ejecutivos y altos directivos, cargos políticos de la
    administración, etc. Policías y cuerpos represivos en general tampoco pueden ser
    afiliados. Para preservar la independencia, los miembros de partidos políticos o
    de organizaciones religiosas no pueden emplear el sindicato como foro de
    propaganda ni ostentar cargos. Finalmente, por coherencia, tampoco admitimos la
    doble militancia de trabajadores afiliados a otras centrales sindicales.</p>
    <p>Decimos que es un sindicato anarquista porque la CNT se rige por algunos de
    los principios más básicos del anarquismo, estos son:</p>
    <ul>
    <li><strong>El Federalismo</strong>
    <p>Cada sindicato de la CNT posee autonomía para actuar dentro del ámbito
    correspondiente a su ramo laboral y a la vez se confedera con el resto de
    sindicatos de la misma localidad, región, etc. para actuar unidos ante las
    circunstancias que les afectan a todos por igual. Los trabajadores se asocian en
    sindicatos, estos se federan a nivel local, regional y nacional en la CNT y a su
    vez esta se federa con sindicatos de todo el mundo en la Asociación Internacional
    de Trabajadores (AIT), la I Internacional, la asociación internacional
    anarcosindicalista.</p>
    <li><strong>El Asamblearismo</strong>
    <p>En CNT todas las decisiones se toman en las asambleas de los sindicatos de
    ramo. A su vez, nuestro pacto federativo implica una coordinación con el resto
    de sindicatos para llegar a un acuerdo en los asuntos que nos conciernen a todos.
    No hay una directiva que pueda decidir entre asambleas. Es decir, no somos
    ejecutivistas y nadie va a decidir en tu mombre, por ello en la asamblea todas
    las palabras tienen el mismo peso.</p></li>
    <li><strong>La Autogestión</strong>
    <p>Pensamos que quienes deben decidir sobre los problemas que les atañen, son los
    afectados por esos problemas. Si nadie trabaja por ti, nadie debe decidir por ti.
    Por el mismo motivo, para poder mantener la independencia absoluta,
    <a href="http://madrid.cnt.es/noticia/boe-subvenciones-sindicatos-otorgadas-2010">CNT
    no recibe subvenciones</a> y se financia exclusivamente con las cuotas de sus
    propios afiliados.</p></li>
    <li><strong>La Acción Directa</strong>
    <p>Significa que la resolución de los conflictos que surjan, ha de ser lograda
    por los individuos afectados sin intermediarios. Consideramos que esta forma de
    actuar nos permite aprender a actuar sobre lo que nos afecta y así asumir
    responsabilidades.</p></li>
    <li><strong>La Solidaridad y el Apoyo Mutuo</strong>
    <p>Todo sindicato de la CNT establece un pacto solidario con el resto de la
    confederación, que hace que cada agresión que reciba una de sus partes sea
    respondida por la totalidad. Lo mismo puede decirse entre los afiliados de cada
    sindicato.</p></li>
    </ul>
    <p>La CNT no participa en las elecciones sindicales ni en los comités de empresa,
    que no hacen sino crear una división entre los mismos trabajadores de la
    plantilla al otorgar privilegios a unos supuestos representantes que no hacen
    sino mirar por sus propios intereses o los del mismo empresario. Es obvio que
    este modelo de acción sindical, resultado de
    <a href="http://madrid.cnt.es/historia/los-pactos-de-la-moncloa/">los Pactos de
    la Moncloa</a>, es el responsable de la actual desmovilización de la clase
    trabajadora y la razón de los ataques sufridos durante estos últimos años por
    parte del gobierno y patronal hacia todos los trabajadores.</p>
    <p>Por supuesto, también están aquellos que entran en los comités y tratan de
    plantar cara por medio de una lucha digna en defensa de los intereses de los
    trabajadores. Sin embargo, éstos a la larga se dan cuenta que están atados de
    pies y manos o lo que también es un una realidad muy habitual: acaban
    corrompidos y donde dije digo digo Diego.</p>
    <p>Entonces...</p>
    <h2>¿Cómo nos organizamos?</h2>
    <p>La CNT actúa en la empresa mediante la Sección Sindical, que es el conjunto
    de trabajadores afiliados a CNT en esa empresa concreta. Si la empresa es de las
    que emplean la represión de inmediato, la sección trabaja en la clandestinidad.
    Si cumple con la legalidad vigente, la sección sindical actúa abiertamente.
    Todas las secciones de CNT funcionan mediante asamblea, por medio de la cual se
    nombra un delegado que se hace portavoz de los compañeros en la empresa. Un
    portavoz que únicamente emite el mandato asambleario de su sección sindical.
    Pero no es necesario crear una Sección Sindical en la empresa para actuar dentro
    de ella, todo depende únicamente de los trabajadores afectados afiliados al
    sindicato.</p>
    <p>Como ya hemos dicho, la CNT rechaza por completo el actual modelo sindical
    practicado por los sindicatos mayoritarios. Pero no solo no recibimos
    subvenciones ni participamos en los comités de empresa sino que tampoco
    mantenemos liberados. Los afiliados y militantes de la CNT somos trabajadores
    como tú y realizamos nuestra acción sindical y social fuera de nuestro horario
    de trabajo.</p>
    <h2>¿Dónde nos encontramos?</h2>
    <p>Puedes encontrarnos de lunes a viernes (a partir de las 19h) en la Plaza de
    Tirso de Molina, 5. 6º piso Dcha. Allí encontrarás a los compañeros quienes podrán
    explicarte con más detalle como funcionamos o resolver cualquier duda que tengas.</p>
    <p>Si quieres ver como funcionamos, puedes acudir directamente como oyente a
    nuestras asambleas del sector. Los trabajadores de las Telecomunicaciones y
    Servicios Informáticos nos reunimos en asamblea ordinaria el primer y tercer
    lunes de cada mes a las 19:05.</p>
    <p>Paz a los hombres y guerra a las instituciones.</p>
</article>
{% render "ECLAboutBundle:Layout:sidebar" %}
{% endblock %}