<aside id="sidebar">
    <img src="{{asset('imagenes/logo-stsi.png')}}" alt="cnt informatica">    
    <h3>Datos de contacto:</h3>
    <ul>
        <li>Local: Plaza Tirso de Molina, 5. 6º dch.</li>
        <li>Tlf: 91 369 09 72</li>
        <li>email: <a href="mailto:informatica.madrid@cnt.es">informatica.madrid@cnt.es</a></li>
        <li>twitter: <a href="https://twitter.com/cntmadridinform" target="_blank">@cntmadridinform</a></li>
    </ul>
    <h3>Permanencias (6º piso, dcha):</h3>
    <ul>
        <li>de lunes a viernes de 19h a 21h</li>
    </ul>
    <h3>Asambleas (6º piso, dcha.):</h3>
    <ul>
        <li>Ordinarias:
        <br>Primer y tercer lunes de cada mes a las 19:15</li>
    </ul>
    <h3>Más información</h3>
    <ul>
        <li><a href="http://madrid.cnt.es/conocenos/la_confederacion.php">¿Qué es la CNT?</a></li>
        <li><a href="http://madrid.cnt.es/historia/">Historia de la CNT</a></li>
        <li><a href="http://madrid.cnt.es/conocenos/la_federacion.php">Otros Sindicatos de Madrid</a></li>
    </ul>
    <h3>Propaganda Confederal</h3>
    <ul>
        <li><a href="http://archivo-periodico.cnt.es/julio2001/sindical/archivos/plataforma_reivindicativa_de_la_.htm">Plataforma Reivindicativa de la CNT</a></li>
        <li><a href="http://cntavila.blogspot.com.es/p/cnt-otra-forma-de-hacer-sindicalismo.html">Otra forma de hacer sindicalismo</a></li>
        <li><a href="http://madrid.cnt.es/noticia/que-son-las-elecciones-sindicales">¿Que son las Elecciones Sindicales?</a></li>
        <li><a href="http://madrid.cnt.es/laboral.php">CNT. Un sindicato para luchar</a></li>
    </ul>
    <h3>Principios, tácticas y finalidades</h3>
    <ul>
        <li><a href="http://madrid.cnt.es/principios_tacticas_y_finalidades/anarcosindicalismo_definicion_y_practica.php"> Anarcosindicalismo: definición y práctica</a> </li>
        <li><a href="http://madrid.cnt.es/principios_tacticas_y_finalidades/principios_y_finalidades.php">Principios y finalidades </a></li>
        <li><a href="http://madrid.cnt.es/principios_tacticas_y_finalidades/anticapitalismo.php">Anticapitalismo </a></li>
        <li><a href="http://madrid.cnt.es/principios_tacticas_y_finalidades/antiestatismo.php">Antiestatismo </a></li>
        <li><a href="http://madrid.cnt.es/principios_tacticas_y_finalidades/antimilitarismo_e_internacionalismo.php">Antimilitarismo e Internacionalismo</a></li>
        <li><a href="http://madrid.cnt.es/principios_tacticas_y_finalidades/otras_formas_de_poder.php">Otras formas de poder </a></li>
        <li><a href="http://madrid.cnt.es/principios_tacticas_y_finalidades/el_federalismo.php">El Federalismo </a></li>
        <li><a href="http://madrid.cnt.es/principios_tacticas_y_finalidades/solidaridad_y_apoyo_mutuo.php">Solidaridad y Apoyo Mutuo </a></li>
        <li><a href="http://madrid.cnt.es/principios_tacticas_y_finalidades/las_tacticas_la_accion_directa.php">Las tácticas: la acción directa </a></li>
        <li><a href="http://madrid.cnt.es/principios_tacticas_y_finalidades/concepto_confederal_del_comunismo_libertario.php">El Comunismo Libertario</a></li>
    </ul>
    <!--
    <h3>Congresos confederales</h3>
    <ul>
        <li><a href="http://cnt.es/Documentos/Estatutos_VIII.pdf">VIII Congreso (1.995)</a></li>
        <li><a href="http://archivo.cnt.es/Documentos/congresosCNT/VII_CONGRESO_de_la_CNT.htm">VII Congreso (1.990)</a></li>
        <li><a href="http://archivo.cnt.es/Documentos/congresosCNT/VI_CONGRESO_de_la_CNT.htm">VI Congreso (1.983)</a></li>
        <li><a href="http://archivo.cnt.es/Documentos/congresosCNT/V_CONGRESO_de_la_CNT.htm">V Congreso (1.979)</a></li>
        <li><a href="http://archivo.cnt.es/Documentos/congresosCNT/estatutos.htm">Estatutos (1.977)</a></li>
        <li><a href="http://archivo.cnt.es/Documentos/congresosCNT/IV_CONGRESO_de_la_CNT.htm">IV Congreso (1.936)</a></li>
        <li><a href="http://archivo.cnt.es/Documentos/congresosCNT/III_CONGRESO_de_la_CNT.htm">III Congreso (1.931)</a></li>
        <li><a href="http://archivo.cnt.es/Documentos/congresosCNT/II_CONGRESO_de_la_CNT.htm">II Congreso (1.919)</a></li>
        <li><a href="http://archivo.cnt.es/Documentos/congresosCNT/CONGRESO_CONSTITUCION_CNT.htm">I Congreso (1.910)</a></li>
    </ul>
    -->
    <h3>Organizaciones afines</h3>
    <ul>
        <li><a href="http://www.nodo50.org/juventudesanarquistas/">F. I. J. L.</a></li>
        <li><a href="http://www.nodo50.org/fai-ifa/">F. A. I.</a></li>
        <li><a href="http://i-f-a.org/">I. F. A.</a></li>
    </ul>
</aside>