<aside id="sidebar">
    <h3>Asesoría Jurídica:</h3>
    <ul>
        <li>Plaza de Tirso de Molina, 5. 2º izq.</li>
        <li>De lunes a jueves (19h. - 21h.)</li>
    </ul>
    <h3>Asesoría Laboral:</h3>
    <ul>
        <li>Plaza de Tirso de Molina, 5. 6º dcha.</li>
        <li>Todos los martes de 19h a 21h</li>
        <li>Necesario consultar antes al sindicato</li>
    </ul>
    <h3>Legislación Laboral</h3>
    <ul>
        <li><a href="http://metalmadrid.cnt.es/documentos/estatuto_trabajadores.pdf">Estatuto de los trabajadores</a></li>
        <li><a href="http://www.calendarioslaborales.com/calendario-laboral-madrid-2013.htm">Calendario Laboral 2013 (Madrid)</a></li>
        <li><a href="http://www.calendarioslaborales.com/">Calendarios laborales 2013 (Nacional)</a></li>
        <li><a href="http://fcae.ua.es/boe/">Boletín Oficial del Estado</a></li>
        <li><a href="http://www.mtin.es/estadisticas/bel/index.htm">Boletín de estadísticas laborales</a></li>
        <li><a href="http://noticias.juridicas.com/base_datos/Admin/index.html">Base de Datos de Legislación</a></li>
        <li><a href="http://madrid.cnt.es/imagenes/campanas/ley_organica_libertad_sindical.pdf">Ley Organica de Libertad Sindical</a></li>
        <li><a href="http://sovmadrid.cnt.es/documentaci%C3%B3n-laboral">Más documentos (SOV Madrid)</a></li>
        <li><a href="http://cnt.es/node/18#legislacion">Más documentos (CNT-AIT)</a></li>
    </ul>
    <h3>Otros enlaces de interés</h3>
    <ul>
        <li><a href="http://madrid.cnt.es/no_a_la_reforma/">Contra la reforma laboral</a></li>
        <li><a href="http://madrid.cnt.es/1-de-mayo/">El 1 de Mayo</a></li>
        <li><a href="http://www.cnt.es/sites/default/files/Diptico_pacto.pdf">El Pacto antisocial</a></li>
    </ul>
    <h3>Dossiers CNT</h3>
    <ul>
        <li><a href="http://metalmadrid.cnt.es/documentos/dossier_derecho_laboral.pdf">Derecho laboral</a></li>
        <li><a href="http://madrid.cnt.es/imagenes/campanas/dossier_maternidad_asesoria_laboral_cnt_1.pdf">Maternidad (Noviembre '09)</a></li>
        <li><a href="http://metalmadrid.cnt.es/documentos/dossier_maternidad_asesoria_laboral_cnt.pdf">Maternidad (Junio '09)</a></li>
        <li><a href="http://madrid.cnt.es/erre_ke_erre/">Conflictos Laborales en "Erre Ke Erre"</a></li>
    </ul>
    <h3>En defensa del anarcosindicalismo</h3>
    <ul>
        <li><a href="http://archivo-periodico.cnt.es/julio2001/sindical/archivos/plataforma_reivindicativa_de_la_.htm">Plataforma Reivindicativa de la CNT</a></li>
        <li><a href="http://cntavila.blogspot.com.es/p/cnt-otra-forma-de-hacer-sindicalismo.html">CNT: Otra forma de hacer sindicalismo</a></li>
        <li><a href="http://madrid.cnt.es/noticia/que-son-las-elecciones-sindicales">¿Que son las Elecciones Sindicales?</a></li>
        <li><a href="http://metalmadrid.cnt.es/documentos/sindicatos_amarillos.pdf">¿Qué son UGT y CCOO?</a></li>
        <li><a href="http://sovmadrid.cnt.es/paginas/anarcocomunica.htm#cgtvendidos">Que no te engañe la CGT</a></li>
        <li><a href="http://sovmadrid.cnt.es/paginas/anarcocomunica.htm">Más documentos (SOV Madrid)</a></li>
    </ul>
</aside>