{% extends 'ECLDefaultBundle::base_front.html.twig' %}
{% block title %}S.T.S.I de Madrid CNT-AIT | Laboral{% endblock %}
{% block description %}Nuestra acción sindical. Por la asamblea, di no a los
comités de empresa y las elecciones sindicales. Acción directa, federalismo,
solidaridad y apoyo mútuo: anarcosindicalismo. CNT Informática.{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/ecllaboral/css/laboral.css') }}" rel="stylesheet">
{% endblock %}
{% block body_front %}
<article class="main">
    <ul id="menu">
        <li><strong>Acción Sindical</strong></li>
        <li><a href="{{ url('ECLLaboralBundle_convenios')}}">Convenios Colectivos</a></li>
    </ul>
    <h1>Nuestra Acción Sindical</h1>
    <p>La CNT es un sindicato de trabajadores/as con muchos años de lucha y de
    experiencia a sus espaldas. Nuestro sindicalismo está alejado de la burocracia y
    de los despachos, se hace en la calle, en los tajos, en los centros de trabajo.</p>
    <p>Nos organizamos en los sindicatos de ramo de la CNT todos los trabajadores de
    un mismo sector de la producción, lo hacemos así para practicar diariamente la
    Solidaridad y para no caer en el error de pensar que el sindicalismo es arreglar
    nuestro problema personal y olvidarnos de los demás. Por ejemplo, cuando surge
    un conflicto laboral en una empresa, no importa de que ramo sea, toda la CNT se
    pone en marcha para defender a esos trabajadores que tienen problemas.</p>
    <p>No confiamos mucho en los juzgados y en las leyes. Que no se ignore que las
    leyes las hacen los que mandan y casi siempre se olvidan de los que trabajamos.
    Por éso en la CNT practicamos la acción directa, o sea, el sindicato presiona al
    patrón, a los ejecutivos de la empresa o a la empresa directamente, sin
    intermediarios, sin comités de empresa, sin profesionales de la política ni del
    sindicalismo. Cuando esos dirigentes participan de representantes de los
    trabajadores en los problemas laborales casi siempre acaban firmando cambalaches
    que nos perjudican. Ahí están los últimos años llenos de malos convenios,
    reconversiones salvajes, desertizaciones industriales, pactos sociales, etc. Y
    en todos está la firma de los sindicatos "representativos".</p>
    <p>Cuando la CNT toma una decisión es porque la han votado sus afiliados en las
    asambleas, aquí no hay dirigentes. Igualmente cuando la CNT se sienta a
    negociar en algún conflicto laboral defiende exacta y literalmente lo que la
    asamblea de trabajadores de esa empresa o centro de trabajo haya dicho. La
    participación de los trabajadores en la toma de decisiones y en el diseño de las
    campañas de movilizaciones es fundamental, si esto no se hace así los
    trabajadores vamos perdiendo nuestra capacidad de lucha, nuestra rebeldía y
    dignidad, perdemos la posibilidad de pensar por nosotros mismos y de ser
    independientes. Cuando eso ocurre los empresarios hacen con nosotros lo que
    quieren.</p>
    <p>¿Qué es lo que está pasando ahora? Después de tantos años de comités de
    empresa, de sindicalistas profesionales, de miles de horas sindicales
    utilizadas para pasear el maletín, de subvenciones a los sindicatos... Después
    de todo esto nos imponen una reforma laboral durísima y unas condiciones de
    trabajo cada vez peores: contratos temporales con el miedo constante al despido,
    trabajos en contratas y Empresas de Trabajo Temporal, trabajos a destajo,
    trabajos como autónomo, etc.</p>
    <p><strong>CNT: nuestra acción sindical.</strong></p>
    <p>En la grandes y medianas empresas: Los afiliados a la CNT practicamos l
    acción sindical a través de las Secciones Sindicales, nunca a través de los
    comités de empresa. La sección sindical es el conjunto de todos los afiliados de
    la CNT en una empresa, por eso son todos los afiliados, y no sólo los delegados,
    los que llevan para adelante la acción sindical: información a los trabajadores
    de los planes y actuaciones de la empresa, denuncia de las infracciones de
    normativas, leyes y convenios, defensa de los compañeros que tengan conflictos
    con el patrón, elaboración de plataformas reivindicativas, organización de
    campañas de solidaridad con trabajadores de otras empresas o sectores, etc.</p>
    <p>Los comités de empresa quitan el protagonismo a los trabajadores porque son
    ellos los que lo llevan todo, no dejan espacio para que cl resto de los
    trabajadores participen, propongan y decidan. Además los miembros de los comités
    están privilegiados con respecto al resto de compañeros, no pueden ser despedidos
    mientras sean del comité y durante un año más, tienen horas sindicales que en
    muchos casos las emplean como les da la gana, y lo mas grave, muchos de ellos no
    van a su puesto de trabajo durante años, se acostumbran a las reuniones con la
    empresa y a las negociaciones diarias, al poco tiempo se llevan mejor con la
    empresa que con sus compañeros.</p>
    <p>Los delegados de las secciones sindicales de CNT son rotativos entre los
    afiliados de la Sección Sindical., cuando se les nombra por una asamblea para
    asistir a una negociación son nombrados exclusivamente para un tema concreto y
    con las posiciones que la asamblea fije exactamente, además en esa negociación
    no firmará nada mientras que los trabajadores no lo decidan en asamblea.
    <p>Los delegados de la secciones sindicales de CNT están en su puesto de trabajo,
    nada de sindicalismo profesional. En las pocas empresas que tomamos horas
    sindicales, lo hacemos para cosas concretas e informamos en los tablones de
    anuncio para que hemos utilizado esas horas.</p>
    <p>Los afiliados a CNT pensamos que la información es fundamental, por eso
    nuestra acción sindical tiene un pilar importante en la continua información de
    los trabajadores. Si un trabajador está informado de sus derechos, de la
    situación de sus compañeros, de la situación de otros trabajadores de empresa o
    ramos diferentes, de los problemas de su entorno, etc. será más proclive a ser
    libre, a ser independiente, a ser tolerante, a ser solidario, a no dejarse
    avasallar y a exigir sus reivindicaciones. 0 sea, fomentamos una acción sindical
    participativa, solidaria, no burocrática, pegada a los trabajadores, alejada de
    los despachos.</p>
    <p>En la pequeña empresa y en la economía sumergida: en estas condiciones
    laborales el sindicalismo se vuelve más duro. En este tipo de empresas el
    simple hecho de que el empresario se entere de la filiación sindical de CNT de
    un trabajador es peligroso.</p>
    <p>En esas condiciones la CNT desarrolla un modelo sindical basado en el
    sindicato directamente, ahí no hay secciones sindicales que valgan. En estas
    condiciones tan duras es cuando la acción directa y la solidaridad son más
    necesarias.</p>
    <p>Si hay conflictos en estos sectores los compañeros de CNT que trabajan en
    grandes empresas apoyan y ayudan a los afiliados de CNT de esos conflictos. Todo
    eso se hace a través de la coordinación en las Federaciones Locales de CNT.</p>
    <p>La CNT vienen denunciado sistemáticamente la situación laboral de sectores
    como el de la construcción, las empleadas de hogar, el campo, las miles de
    pequeñas empresas de pocos trabajadora. Además llevamos la información desde
    estos sectores de condiciones laborables más duras hasta las empresas donde los
    trabajadores está en mejores condiciones. Sólo con la comprensión y el apoyo de
    todos los trabajadores, independientemente de donde trabajen, es como la acción
    sindical es coherente y realmente solidaria, de lo contrario se cae en el
    corporativismo y en el salvese quien pueda.</p>
    <p>En estos sectores la CNT desarrolla una continua labor de información, de esta
    forma estamos consiguiendo, al margen de los sindicatos "representativos", que
    los trabajadores exijamos nuestros derechos, que perdamos el miedo y que recobremos
    la ilusión por organizarnos y defender juntos nuestra dignidad.</p>
    <p><strong>Nuestras ideas.</strong></p>
    <p>Muchas veces nos han llamado utópicos para insultarnos. Si, somos utópicos
    pero lo que defendemos en las empresas, en los sectores, en los barrios y en los
    pueblos donde nos movemos son derechos concretos, reales. No somos ilusos que
    estemos en las nubes pero queremos cambiar esta sociedad. Una pulga no puede
    matar a un elefante, pero muchas pulgas pueden llenarle su cuerpo de ronchas, y
    a lo peor el elefante cambia, o a lo mejor se muere, pues eso...</p>
    <p>Desde luego la CNT no ha caído en el "pragmatismo". Insignes pragmáticos de
    nuestra época son y han sido: Felipe González y todo su PSOE, la UGT con su PSV,
    Rubio, De la Rosa, Roldán, Juanillo Guerra, Gutiérrez, Redondo y Méndez, etc.
    Con esos compañeros mejor no vamos.</p>
    <p>Nosotros nos modernizamos, nos actualizamos, nos ponemos al día, estamos en
    el siglo XXI pero no nos volvemos comprensivos con el poder. Hoy como ayer
    pensamos que el poder corrompe, que desde el poder no se arregla nada (bueno,
    nada mas que el problema de el que ocupa el sillón ), que los problemas o los
    arreglamos los de abajo o nos siguen sometiendo. Por eso los parlamentos, los
    políticos, los comites de empresa, los ejecutivos de las empresas, los gobiernos,
    los ayuntamientos no nos gustan nada, desconfiamos de ellos y de todos los que
    aspiran a llegar a ellos.</p>
    <p>Hacemos anarcosindicalismo, es decir, un sindicalismo de ideas anarquistas.
    Otros sindicatos viven de las subvenciones, del dinero que les da el INEM para
    las cursos de entrenar parados, de los negocios de sus empresas, de las deudas
    que les perdona el estado, la Seguridad Social, etc. Nosotros/as vivimos de
    nuestras cuotas y de nuestro trabajo y punto. No queremos "favores" del poder.</p>
    <p>Por todo ésto, nosotros/as proponemos:</p>
    <ul>
        <li>Frente al sindicalismo corporativo y burocrático de los comités de empresa
        el sindicalismo participativo y revolucionario de la CNT a través de sus
        secciones sindicales, sus sindicatos de ramo y sus Federaciones Locales.</li>
        <li>Frente al sindicalismo de los dirigentes, el sindicalismo de los trabajadores,
        de los de abajo.</li>
        <li>Frente al sindicalismo comprensivo con el capital, cómplice de la economía
        capitalista y de sus desastres ecológicos (efecto invernadero, capa de ozono,
        deforestación, contaminación de las aguas, desertización, etc.) y humanos
        (hambrunas en el tercer mundo, desequilibrio norte-sur, etc.), este otro
        sindicalismo, el anarcosindicalismo, radicalmente opuesto a colaborar con esos
        desastres.</li>
    </ul>
    <p>La CNT no es comprensiva con las crisis del capital, si tienen crisis que la
    resuelvan ellos, que para eso las han creado. Nosotros/as luchamos por nuestros
    derechos.</p>
</article>
{% render "ECLLaboralBundle:Layout:sidebar" %}
{% endblock %}